/*---
title: Layout
section: Elements
---*/


/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/

:root {
  /* stylelint-disable root-no-standard-properties */
  background-color: var(--color-page);
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Edge 12+, IE 11- */
  overflow-x: hidden;
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  width: 100%;
  /* stylelint-enable */
}


.t-dark { background-color: var(--color-page-dark); }


.t-fullscreen,
:--fullscreen {
  background-color: var(--color-page-dark);
  font-size: 150% !important;
  margin-top: 0;
  overflow-y: scroll;
}


@media print {
  :root { background-color: var(--white); }
}


::before,
::after {
  @apply --reset-text-border;
  text-decoration: inherit;
  vertical-align: inherit;
}


* {
  @apply --reset-text-border;
  background-repeat: no-repeat;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Edge 12+, IE 11- */
  padding: 0;
}
