/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

:root {
  /* stylelint-disable root-no-standard-properties */
  color: var(--color-text);
  font: var(--fontSize-page) / var(--lineHeight-page) var(--fontFamily-page);
  font-weight: var(--fontWeight-page);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; /* iOS 8+ */
  /* stylelint-enable */
}


@media print {
  :root {
    color: var(--black);
    font: 12pt / var(--lineHeight-page) var(--fontFamily-page);
  }
}


.t-dark,
.t-fullscreen,
:--fullscreen {
  color: var(--white);
}


::selection {
  background-color: #add7ff;
  color: var(--color-text);
  text-shadow: none;
}


:--headings {
  font-size: var(--fontSize-heading);
  font-weight: inherit;
  line-height: var(--lineHeight-heading);
  margin: 0 0 var(--frame-quarter);
}


:--code { font-family: var(--fontFamily--monospaced); }


:--anchor-default {
  color: var(--color-link);
  text-decoration: none;

  &:--enter { text-decoration: underline; }
}

@media print {
  a:link,
  a:visited {
    background: transparent;
    content: " (" attr(href) ") ";
    font-size: 90%;
    font-weight: bold;
    text-decoration: underline;
  }
}

a { color: var(--color-link); }

a[href^="http"] {
  cursor: pointer;
}


hr {
  border-top: 2px solid var(--borderColor);
  margin: var(--frame-half) 0;
}


small {
  display: block;
  font-size: var(--fontSize--tiny);
  line-height: var(--lineHeight-page);
  margin-bottom: var(--frame-half);
}


p {
  line-height: var(--lineHeight-paragraph);
  margin-bottom: var(--frame-half);
}


[disabled] {
  opacity: .5 !important;
  -ms-pointer-events: none !important;
  pointer-events: none !important;
}





/*------------------------------------*\
  #CUSTOM-SELECTORS
\*------------------------------------*/

.is-featured p:first-of-type { font-size: var(--fontSize--semiMedium); }
