/*------------------------------------*\
  #COLOUR-PALETTE
\*------------------------------------*/

/* Setup a colour palette which allows us to theme
   the entire project from one location */

/* stylelint-disable rule-properties-order */

:root {
  --green-50:  #def6f3;
  --green-100: #b6e7de;
  --green-200: #94d7ca;
  --green-300: #75c6b7;
  --green-400: #5ab4a3;
  --green-500: #42a291;
  --green-600: #2e9080;
  --green-700: #1e7f6f;
  --green-800: #106c5e;
  --green-900: #0a5a4e;
  --green: var(--green-400);

  --blue-50:  #eaecf8;
  --blue-100: #d2d4f0;
  --blue-200: #b9bce7;
  --blue-300: #a2a4dc;
  --blue-400: #8b8ed0;
  --blue-500: #7477c3;
  --blue-600: #5e63b4;
  --blue-700: #474ea4;
  --blue-800: #303a93;
  --blue-900: #152681;
  --blue: var(--blue-400);

  --red-50:  #f6e6df;
  --red-100: #fbc7b2;
  --red-200: #fba986;
  --red-300: #f7895b;
  --red-400: #ef6830;
  --red-500: #dd4907;
  --red-600: #bb3d0a;
  --red-700: #99320c;
  --red-800: #78260c;
  --red-900: #5a1b0a;
  --red: var(--red-400);

  --grey-50:  #f9f9f9;
  --grey-100: #dfdfdf;
  --grey-200: #c6c6c6;
  --grey-300: #aeaeae;
  --grey-400: #969696;
  --grey-500: #808080;
  --grey-600: #696969;
  --grey-700: #555;
  --grey-800: #3f3f3f;
  --grey-900: #2c2c2c;
  --grey: var(--grey-400);

  --black-pure: #111;
  --black-rich: #000;
  --black-cool: #021223;
  --black-warm: #200;
  --black:      var(--black-pure);
  --white:      #fff;
}





/*------------------------------------*\
  #COLOUR-THEME
\*------------------------------------*/

/* Reassign literal variables to meaningful ones. */


/* Backgrounds and Borders */

:root {
  --color-page: var(--white);
  --color-page-dark: var(--grey-900);
  --color-primary: var(--green);
  --color-primary-dark: var(--green-700);
  --color-primary-highlight: var(--green-100);
  --color-primary-contrast: var(--white);
  --color-accent: var(--blue);
  --color-accent-dark: var(--blue-700);
  --color-accent-highlight: var(--blue-100);
  --color-accent-contrast: var(--white);
  --color-neutral: var(--grey);
  --color-neutral-dark: var(--grey-700);
  --color-neutral-highlight: var(--grey-100);
  --color-neutral-contrast: var(--white);
  --borderColor: color(var(--color-neutral) a(.25));
  --borderColor-inactive: var(--grey-50);


  /* Type and Globals */

  --color-text: var(--grey-800);
  --color-placeholder: var(--grey);
  --color-link: var(--color-primary);
  --color-error: var(--red-400);
  --color-invalid: var(--red-200);





/*------------------------------------*\
  #COMPONENT-COLOURS
\*------------------------------------*/


  /* Avatar */
  --color-avatar: color(var(--grey) a(.5));
  --color-avatar--secondary: color(var(--grey-900) a(60%));
  --color-avatar-alt--primary: var(--color-primary);
  --color-avatar-alt--accent: var(--color-accent);
  --color-avatar-alt--secondary: var(--color-primary-contrast);


  /* Backdrop */
  --color-backdrop: color(var(--black) a(60%));
  --color-backdrop--inverted: color(var(--white) a(60%));


  /* Badge */
  --color-badge--primary: color(var(--grey) a(.7));
  --color-badge--secondary: var(--white);
  --color-badge-alt--primary: var(--color-primary);
  --color-badge-accent--primary: var(--color-accent);


  /* Button */
  --color-button--primary: color(var(--grey) a(20%));
  --color-button--secondary: var(--grey-900);
  --color-button--hover: var(--color-button--primary);
  --color-button--active: color(var(--grey) a(30%));
  --color-button--focus: color(var(--black) a(6%));

  /* Primary buttons */
  --color-button-alt--primary: var(--color-primary);
  --color-button-alt--secondary: var(--color-primary-contrast);
  --color-button-alt--accent: var(--color-accent);
  --color-button-alt--hover: var(--color-primary-dark);
  --color-button-alt--active: var(--color-primary-dark);
  --color-button-alt--focus: var(--white);

  /* Accent buttons */
  --color-button-accent--primary: var(--color-accent);
  --color-button-accent--secondary: var(--color-accent-contrast);
  --color-button-accent--hover: var(--color-accent-dark);
  --color-button-accent--active: var(--color-accent-dark);
  --color-button-accent--focus: var(--white);

  /* Dark theme buttons */
  --color-button-dark--primary: color(var(--grey) a(.2));
  --color-button-dark--secondary: var(--color-primary-contrast);
  --color-button-dark--hover: color(var(--grey-800) a(.2));
  --color-button-dark--active: color(var(--grey) a(.7));
  --color-button-dark--focus: color(var(--grey) a(.3));

  /* Disabled buttons */
  --color-button-disabled--primary: color(var(--black) a(12%));
  --color-button-disabled--secondary: color(var(--black) a(26%));
  --color-button-disabled--dark: color(var(--white) a(30%));

  /* Button Icon */
  --color-button-icon: color(var(--grey) a(.9));

  /* Button groups */
  --color-button-group: color(var(--grey) a(.1));






  /* Card */
  --color-card--primary: var(--white);
  --color-card-dark--primary: var(--grey-800);
  --color-card-print: var(--black);
  --color-card__title--secondary: currentColor;

  --color-card-alt--primary: var(--color-primary);
  --color-card-alt--secondary: var(--color-primary-contrast);

  --color-card-accent--primary: var(--color-accent);
  --color-card-accent--secondary: var(--color-accent-contrast);

  /* Calendar */
  --color-calendar--primary: var(--color-card--primary);
  --color-calendar-dark--primary: var(--color-card-dark--primary);
  --color-calendar-hover: color(var(--grey) a(.3));
  --color-calendar-selected: color(var(--green) a(.3));

  /* Dialog */
  --color-dialog--primary: var(--color-card--primary);
  --color-dialog-dark--primary: var(--color-card-dark--primary);

  /* Drawer */
  --color-drawer--primary: var(--color-card--primary);
  --color-drawer-dark--primary: var(--color-card-dark--primary);
  --color-drawer__header--primary: var(--color-drawer--primary);
  --color-drawer__header--secondary: inherit;
  --color-drawer__header-dark--primary: var(--color-drawer-dark--primary);
  --color-drawer__divider: var(--borderColor);

  /* Expansion Panel */
  --color-expansion-panel--primary: var(--color-card--primary);
  --color-expansion-panel--secondary: var(--grey-700);
  --color-expansion-panel--focus: var(--grey-50);
  --color-expansion-panel__title: var(--grey-900);
  --color-expansion-panel__divider: var(--borderColor);

  --color-expansion-panel-dark--primary: var(--grey-800);
  --color-expansion-panel-dark--secondary: var(--grey-200);
  --color-expansion-panel-dark__title: var(--grey-50);
  --color-expansion-panel-dark--focus: var(--grey-700);




  /* Control */
  --color-control-border--primary: color(var(--grey) a(.9));
  --color-control-border--secondary: var(--white);
  --color-control--checked: var(--color-primary);
  --color-control--unchecked: var(--grey);
  --color-control--disabled: var(--grey-300);

  /* Radio */
  --color-radio--primary: var(--color-control-border--primary);
  --color-radio--secondary: var(--color-control-border--secondary);
  --color-radio-dark--secondary: var(--color-page-dark);
  --color-radio--secondary--checked: var(--color-control-border--secondary);
  --color-radio-dark--secondary--checked: var(--color-page-dark);
  --color-radio--checked: var(--color-control--checked);
  --color-radio--disabled: var(--color-control--disabled);

  /* Checkbox */
  --color-checkbox: var(--color-control-border--primary);
  --color-checkbox--checked: var(--color-control--checked);
  --color-checkbox--indeterminate: var(--color-control-border--primary);
  --color-checkbox--disabled: var(--color-control--disabled);

  /* Switch */
  --color-switch--primary: var(--grey-200);
  --color-switch-disabled--primary: var(--grey-100);
  --color-switch--secondary: var(--color-control-border--primary);
  --color-switch-disabled: var(--grey-200);
  --color-switch--checked: var(--color-control--checked);
  --color-switch-disabled--checked: var(--grey-200);
  --color-switch-alt--secondary: var(--color-control--unchecked);
  --color-switch-dark--primary: var(--grey-600);






  /* Field */
  --color-field--primary: color(var(--grey) a(.5));
  --color-field--secondary: inherit;
  --color-field-dark--secondary: var(--grey-50);
  --color-field-dark--placeholder: var(--grey-300);
  --color-field--focus: var(--color-primary);
  --color-field--invalid: var(--color-invalid);
  --color-field--error: var(--color-error);


  /* Form */
  --backgroundColor-form: var(--white);
  --borderColor-form: var(--grey-600);


  /* Icon */
  --color-icon: currentColor;
  --color-icon--passive: var(--color-neutral);
  --color-icon--active: var(--color-primary);


  /* Iconbar */
  --color-iconbar-background: var(--white);
  --color-iconbar-border: var(--borderColor);
  --color-iconbar-item: var(--grey-700);
  --color-iconbar-item-active: var(--color-primary);


  /* Label */
  --color-label--primary: color(var(--grey) a(.3));
  --color-label--secondary: var(--black);
  --color-label-dark--secondary: var(--white);
  --color-label-alt--primary: var(--color-primary);
  --color-label-alt--secondary: var(--color-primary-contrast);
  --color-label-accent--primary: var(--color-accent);
  --color-label-accent--secondary: var(--color-accent-contrast);


  /* List */
  --color-list--primary: transparent;
  --color-list-selected--primary: color(var(--grey) a(.1));
  --color-list-active--secondary: var(--color-primary);
  --color-list__divider: var(--borderColor);
  --color-list__tile-active--primary: var(--color-primary);
  --color-list__tile-active--secondary: var(--white);
  --color-list__title: var(--grey);
  --color-list__subtext: var(--grey);


  /* Loader */
  --color-loader: var(--color-neutral);
  --color-loader-primary: var(--color-primary);
  --color-loader-accent: var(--color-accent);
  --color-loader-inverted: var(--white);


  /* Menu */
  --color-menu: var(--color-text);
  --color-menu-background: var(--white);
  --color-menu-link-background: transparent;
  --color-menu-link-background-enter: var(--grey-100);
  --color-menu-link-active: var(--white);
  --color-menu-link-background-active: var(--color-primary);
  --color-menu-data-select: var(--grey-600);


  /* Messages */
  --color-message: var(--color-neutral);
  --color-message-alt-primary: var(--color-primary);
  --color-message-accent-primary: var(--color-accent);
  --color-message-error: var(--color-error);
  --color-message-invalid: var(--color-invalid);


  /* Notification */
  --color-notification-icon: var(--color-primary);
  --color-notification-icon--success: var(--green-700);
  --color-notification-icon--warning: var(--red-300);
  --color-notification-icon--error: var(--red-700);


  /* Progress */
  --color-progress: var(--color-primary);
  --color-progress--secondary: color(var(--color-primary) a(25%));
  --color-progress--indeterminate: var(--grey-300);


  /* Table */
  --color-table: var(--borderColor);


  /* Tabs */
  --color-tab: transparent;
  --color-tab--active: rgba(255, 255, 255, .1);
  --color-tab-alt--primary: var(--color-primary);
  --color-tab-alt--active: var(--color-accent);
  --borderColor-tab--active: currentColor;


  /* Toolbar */
  --color-toolbar--primary: transparent;
  --color-toolbar--secondary: currentColor;
  --color-toolbar-alt--primary: var(--color-primary);
  --color-toolbar-alt--secondary: var(--white);
  --color-toolbar-dark--primary: var(--grey-900);
  --color-toolbar-dark--secondary: var(--white);


  /* Tooltip */
  --color-tooltip--primary: var(--black-rich);
  --color-tooltip--secondary: var(--white);


  /* Shadows */

  --shadow-1: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  --shadow-4: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
  --shadow-5: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
  --shadow-focus: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
  --shadow-menu: var(--shadow-1);
  --shadow-menu-picker:
    inset 0 10px 11px -7px rgba(0, 0, 0, .5),
    inset 0 -10px 11px -7px rgba(0, 0, 0, .5);
  --toggle-focus-shadow: 0 0 6px var(--color-primary);

  /* Social Media */

  --facebook: #4c66a4;
  --google-plus: #dd4b39;
  --linkedin: #0077b5;
  --pinterest: #cb2027;
  --stumbleupon: #ff4522;
  --tripadvisor: #629d2a;
  --trustyou: #3498db;
  --tumblr: #35465c;
  --twitter: #2fc2ef;
}

/* stylelint-enable */
