/*------------------------------------*\
  #COLOUR PALETTE
\*------------------------------------*/

/* Setup a colour palette which allows us to theme
   the entire project from one location */

/* stylelint-disable rule-properties-order */

:root {
  --green-50:  #def6f3;
  --green-100: #b6e7de;
  --green-200: #94d7ca;
  --green-300: #75c6b7;
  --green-400: #5ab4a3;
  --green-500: #42a291;
  --green-600: #2e9080;
  --green-700: #1e7f6f;
  --green-800: #106c5e;
  --green-900: #0a5a4e;

  --blue-50:  #eaecf8;
  --blue-100: #d2d4f0;
  --blue-200: #b9bce7;
  --blue-300: #a2a4dc;
  --blue-400: #8b8ed0;
  --blue-500: #7477c3;
  --blue-600: #5e63b4;
  --blue-700: #474ea4;
  --blue-800: #303a93;
  --blue-900: #152681;

  --red-50:  #f6e6df;
  --red-100: #fbc7b2;
  --red-200: #fba986;
  --red-300: #f7895b;
  --red-400: #ef6830;
  --red-500: #dd4907;
  --red-600: #bb3d0a;
  --red-700: #99320c;
  --red-800: #78260c;
  --red-900: #5a1b0a;

  --grey-50:  #f9f9f9;
  --grey-100: #dfdfdf;
  --grey-200: #c6c6c6;
  --grey-300: #aeaeae;
  --grey-400: #969696;
  --grey-500: #808080;
  --grey-600: #696969;
  --grey-700: #555;
  --grey-800: #3f3f3f;
  --grey-900: #2c2c2c;

  --black:      #000;
  --white:      #fff;
}





/*------------------------------------*\
  #COLOUR THEME
\*------------------------------------*/

/* Reassign literal variables to meaningful ones. */

/* Type and Globals */

:root {
  --color-primary: var(--green-500);
  --color-primary-dark: var(--green-700);
  --color-accent: var(--blue-500);
  --color-accent-dark: var(--blue-700);
  --color-primary-contrast: var(--white);
  --color-accent-contrast: var(--white);
  --color-neutral: var(--grey-500);

  --color-text: var(--grey-800);
  --color-placeholder: var(--grey-500);
  --color-link: var(--color-primary);

  --color-page: var(--white);
  --borderColor: var(--grey-300);
  --borderColor-inactive: var(--grey-200);
}


/* Backgrounds and Borders */

:root {
  /* Avatar */

  --color-avatar: var(--grey-200);
  --color-avatar--secondary: color(var(--grey-900) a(60%));
  --color-avatar-alt--primary: var(--color-primary);
  --color-avatar-alt--accent: var(--color-accent);
  --color-avatar-alt--secondary: var(--color-primary-contrast);

  /* Badge */
  --color-badge--primary: var(--color-neutral);
  --color-badge--secondary: var(--white);
  --color-badge-alt--primary: var(--color-primary);
  --color-badge-accent--primary: var(--color-accent);

  /* Backdrop */

  --color-backdrop: color(var(--black) a(60%));
  --color-backdrop--inverted: color(var(--white) a(60%));

  /* Button */

  --color-button--primary: color(var(--grey-500) a(20%));
  --color-button--secondary: var(--grey-900);
  --color-button--hover: var(--color-button--primary);
  --color-button--active: color(var(--grey-500) a(30%));
  --color-button--focus: color(var(--black) a(6%));

  /* Primary buttons */
  --color-button-alt--primary: var(--color-primary);
  --color-button-alt--secondary: var(--color-primary-contrast);
  --color-button-alt--accent: var(--color-accent);
  --color-button-alt--hover: var(--color-primary-dark);
  --color-button-alt--active: var(--color-primary-dark);
  --color-button-alt--focus: var(--white);

  /* Accent buttons */
  --color-button-accent--primary: var(--color-accent);
  --color-button-accent--secondary: var(--color-accent-contrast);
  --color-button-accent--hover: var(--color-accent-dark);
  --color-button-accent--active: var(--color-accent-dark);
  --color-button-accent--focus: var(--white);

  /* Dark theme buttons */
  --color-button-dark--primary: color(var(--grey-500) a(18%));
  --color-button-dark--secondary: var(--color-primary-contrast);
  --color-button-dark--hover: color(var(--grey-800) a(18%));
  --color-button-dark--active: color(var(--grey-600) a(18%));
  --color-button-dark--focus: color(var(--black) a(10%));

  /* Disabled buttons */
  --color-button-disabled--primary: color(var(--black) a(12%));
  --color-button-disabled--secondary: color(var(--black) a(26%));
  --color-button-disabled--dark: color(var(--white) a(30%));


  /* Control */

  --color-control-background: var(--white);
  --color-control-background--negative: var(--red-100);
  --color-control-background--positive: var(--green-100);
  --color-control-border: var(--grey-500);
  --color-control-border--negative: var(--red-500);
  --color-control-border--positive: var(--green-500);


  /* Menu */

  --color-menu: var(--color-text);
  --color-menu-background: var(--white);
  --color-menu-link-background: transparent;
  --color-menu-link-background-enter: var(--grey-100);
  --color-menu-link-active: var(--white);
  --color-menu-link-background-active: var(--color-primary);
  --color-menu-data-select: var(--grey-600);


  /* Form */

  --backgroundColor-form: var(--white);
  --borderColor-form: var(--grey-600);


  /* Iconbar */

  --color-iconbar-background: var(--white);
  --color-iconbar-border: var(--borderColor);
  --color-iconbar-item: var(--grey-700);
  --color-iconbar-item-active: var(--color-primary);


  /* Input */


  /* Label */

  --color-label--primary: var(--grey-200);
  --color-label--secondary: var(--black);
  --color-label-alt--primary: var(--color-primary);
  --color-label-alt--accent: var(--color-accent);
  --color-label-alt--secondary: var(--color-primary-contrast);


  /* Loader */

  --color-loader: var(--color-neutral);
  --color-loader--primary: var(--color-primary);
  --color-loader--accent: var(--color-accent);
  --color-loader--alt: var(--grey-200);


  /* Modal */

  --backgroundColor-modal: var(--white);
  --backgroundColor-modal__title: var(--grey-200);
  --color-modal__title: var(--color-text);
  --color-modal__action: rgba(255, 255, 255, .5);

  /* Progress */
  --color-progress: var(--color-primary);
  --color-progress--secondary: color(var(--color-primary) a(25%));
  --color-progress--indeterminate: var(--grey-300);

}


/* Shadows */

:root {
  --shadow-1: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  --shadow-4: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
  --shadow-5: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
  --shadow-focus: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
  --shadow-menu: var(--shadow-1);
  --shadow-menu-picker:
    inset 0 10px 11px -7px rgba(0, 0, 0, .5),
    inset 0 -10px 11px -7px rgba(0, 0, 0, .5);
  --toggle-focus-shadow: 0 0 6px var(--color-primary);
}

/* Highlight */

:root {
  --highlight-primary: var(--green-100);
  --highlight-accent: var(--blue-100);
  --highlight-neutral: var(--grey-100);
}

/* Social Media */

:root {
  --facebook: #4c66a4;
  --google-plus: #dd4b39;
  --linkedin: #0077b5;
  --pinterest: #cb2027;
  --stumbleupon: #ff4522;
  --tripadvisor: #629d2a;
  --trustyou: #3498db;
  --tumblr: #35465c;
  --twitter: #2fc2ef;
}

/* stylelint-enable */
