/*------------------------------------*\
  #MOTION
\*------------------------------------*/

:root {
  --pulse-color: 101, 182, 220;
  --pulse-color--start: rgba(var(--pulse-color), .5);
  --pulse-color--end: rgba(var(--pulse-color), 0);
  --fade-in: {
    opacity: 1;
    pointer-events: all;
    transition: visibility 1s, opacity var(--global-duration) ease-in-out, z-index 1s;
    visibility: visible;
    will-change: visibility, opacity, transform;
    z-index: 10;
  };

  --fade-out: {
    opacity: 0;
    pointer-events: none;
    transition: visibility 1s, opacity var(--global-duration) ease-in-out, z-index 1s;
    visibility: hidden;
    will-change: visibility, opacity, transform;
    z-index: -1;
  };

  --hide-a11y: {
    height: 0;
    opacity: 0 !important;
    position: absolute;
    width: 0;
    z-index: -1;
  };

  --hide-text: {
    text-indent: -99999em;
    white-space: nowrap;
  };

  --slide-in: {
    @apply --fade-in;
    transform: translate3d(0, 0, 0);
  };

  --slide-out: {
    @apply --fade-out;
    transform: translate3d(100%, 0, 0);
  };

  --slide-out-inv: {
    @apply --fade-out;
    transform: translate3d(-100%, 0, 0);
  };

  --slide-out-short: {
    @apply --fade-out;
    transform: translate3d(-25%, 0, 0);
  };
}
