/*------------------------------------*\
  #SHAPES
\*------------------------------------*/

:root {
  --borderRadius--leaf:
    var(--global-rounded)
    var(--global-radial)
    var(--global-rounded);
  --borderRadius--leaf-alt:
    var(--global-radial)
    var(--global-rounded)
    var(--global-radial)
    var(--global-rounded);
  --borderRadius--rounded: var(--global-rounded);
  --borderRadius--rounded-x: var(--global-radial) / var(--global-rounded);
  --borderRadius--rounded-y: var(--global-rounded) / var(--global-radial);
  --borderRadius--radial: var(--global-radial);
  --borderRadius--circular: var(--global-circular);
  --arrow-width: 18px;
  --arrow-length: calc(var(--arrow-width) / 3);
  --arrow-up: {
    background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='12'><path fill='#fff' transform='rotate(0)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/></svg>");
    background-size: 100% auto;
    height: var(--arrow-length);
    width: var(--arrow-width);
  };

  --arrow-up--dark: {
    background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='12'><path fill='#000' transform='rotate(0)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/></svg>");
    background-size: 100% auto;
    height: var(--arrow-length);
    width: var(--arrow-width);
  };

  --arrow-down: {
    background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='12'><path fill='#fff' transform='rotate(180 18 6)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/></svg>");
    background-size: 100% auto;
    height: var(--arrow-length);
    width: var(--arrow-width);
  };

  --arrow-down--dark: {
    background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='12'><path fill='#000' transform='rotate(180 18 6)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/></svg>");
    background-size: 100% auto;
    height: var(--arrow-length);
    width: var(--arrow-width);
  };

  --arrow-left: {
    background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='32'><path fill='#fff' transform='rotate(-90 18 18)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/></svg>");
    background-size: 100% auto;
    height: var(--arrow-width);
    width: var(--arrow-length);
  };

  --arrow-left--dark: {
    background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='32'><path fill='#000' transform='rotate(-90 18 18)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/></svg>");
    background-size: 100% auto;
    height: var(--arrow-width);
    width: var(--arrow-length);
  };

  --arrow-right: {
    background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='32'><path fill='#fff' transform='rotate(90 6 6)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/></svg>");
    background-size: 100% auto;
    height: var(--arrow-width);
    width: var(--arrow-length);
  };

  --arrow-right--dark: {
    background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='32'><path fill='#000' transform='rotate(90 6 6)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/></svg>");
    background-size: 100% auto;
    height: var(--arrow-width);
    width: var(--arrow-length);
  };

  --triangle-color: currentColor;
  --triangle-multiplier: 1.5;
  --triangle-size: 1em;
  --triangle: {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    z-index: 2;
  };

  --triangle-right: {
    border-bottom: solid transparent;
    border-bottom-width: var(--triangle-size);
    border-left: solid var(--triangle-color);
    border-left-width:
      calc(var(--triangle-size) * var(--triangle-multiplier));
    border-top: solid transparent;
    border-top-width: var(--triangle-size);
  };

  --triangle-top: {
    border-bottom: solid var(--triangle-color);
    border-bottom-width:
      calc(var(--triangle-size) * var(--triangle-multiplier));
    border-left: solid transparent;
    border-left-width: var(--triangle-size);
    border-right: solid transparent;
    border-right-width: var(--triangle-size);
  };

  --triangle-bottom: {
    border-left: solid transparent;
    border-left-width: var(--triangle-size);
    border-right: solid transparent;
    border-right-width: var(--triangle-size);
    border-top: solid var(--triangle-color);
    border-top-width:
      calc(var(--triangle-size) * var(--triangle-multiplier));
  };

  --triangle-left: {
    border-bottom: solid transparent;
    border-bottom-width: var(--triangle-size);
    border-right: solid var(--triangle-color);
    border-right-width: calc(var(--triangle-size) * var(--triangle-multiplier));
    border-top: solid transparent;
    border-top-width: var(--triangle-size);
  };

  --circle: {
    background-color: var(--neutral-color);
    border-radius: 50px;
    color: var(--white);
    padding: 6px;
  };

  --checkmark: {
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    display: block;
    height: 10px;
    transform: rotate(45deg);
    width: 5px;
  };

  --checkmark-alt: {
    @apply --checkmark;
    border-color: var(--black);
  };
}
