/*------------------------------------*\
  #TYPOGRAPHY-SETTINGS
\*------------------------------------*/

:root {
  --fontFamily--sans: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --fontFamily--serif: Garmond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
  --fontFamily--monospaced: monospace;
  --fontFamily-page: var(--fontFamily--sans);
  --fontSize--s: .75;   /* 12px */
  --fontSize--0: .875;  /* 14px */
  --fontSize--1: 1;     /* 16px */
  --fontSize--2: 1.125; /* 18px */
  --fontSize--3: 1.25;  /* 20px */
  --fontSize--4: 1.5;   /* 24px */
  --fontSize--5: 2;     /* 32px */
  --fontSize--6: 2.5;   /* 40px */
  --fontSize--7: 3;     /* 48px */
  --fontSize--8: 4.7;   /* 75.2px */

  --fontSize--tiny: var(--fontSize--s)rem;
  --fontSize--small: var(--fontSize--0)rem;
  --fontSize--semiNormal: var(--fontSize--1)rem;
  --fontSize--normal: var(--fontSize--2)rem;
  --fontSize--normalPlus: var(--fontSize--3)rem;
  --fontSize--semiMedium: var(--fontSize--4)rem;
  --fontSize--medium: var(--fontSize--5)rem;
  --fontSize--semiLarge: var(--fontSize--6)rem;
  --fontSize--large: var(--fontSize--7)rem;
  --fontSize--xlarge: var(--fontSize--8)rem;

  --fluidFont-setup: calc((100vw - var(--minWidth-media--small)rem) / var(--minWidth-media--medium));
  --fluidFont--1: calc(var(--fontSize--0)rem + (var(--fontSize--3) - var(--fontSize--0)) * var(--fluidFont-setup));
  --fluidFont--2: calc(var(--fontSize--1)rem + (var(--fontSize--4) - var(--fontSize--1)) * var(--fluidFont-setup));
  --fluidFont--3: calc(var(--fontSize--2)rem + (var(--fontSize--5) - var(--fontSize--2)) * var(--fluidFont-setup));
  --fluidFont--4: calc(var(--fontSize--3)rem + (var(--fontSize--6) - var(--fontSize--3)) * var(--fluidFont-setup));
  --fluidFont--5: calc(var(--fontSize--4)rem + (var(--fontSize--7) - var(--fontSize--4)) * var(--fluidFont-setup));
  --fluidFont--6: calc(var(--fontSize--5)rem + (var(--fontSize--8) - var(--fontSize--5)) * var(--fluidFont-setup));

  --fontSize-page: 100%;
  --fontSize-heading: var(--fontSize--normalPlus);
  --fontWeight-page: 400;
  --fontWeight-page--bold: 800;
  --lineHeight-page: 1;
  --lineHeight-paragraph: 1.4;
  --lineHeight-heading: 1.3;
  --no-bullet: {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
  };

  --list-horizontal: {
    border: 0;
    clear: both;
    margin: 0;
    padding: 0;
  };

  --ellipsis: {
    display: inline-block;
    overflow: hidden;
    padding: 1px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  };

  --break-word: {
    -ms-word-break: break-all; /* Safari can wait */
    word-break: break-word;
    word-wrap: break-word;
  };
}


/* latin 400 */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src:
  local("Source Sans Pro"),
  local("SourceSansPro-Regular"),
  url("../fonts/source-sans-pro/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2")
  format("woff2"),
  url("../fonts/source-sans-pro/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff")
  format("woff");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2212,
    U+2215,
    U+E0FF,
    U+EFFD,
    U+F000;
}


/* latin 700 */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src:
  local("Source Sans Pro Bold"),
  local("SourceSansPro-Bold"),
  url("../fonts/source-sans-pro/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2")
  format("woff2"),
  url("../fonts/source-sans-pro/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff")
  format("woff");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2212,
    U+2215,
    U+E0FF,
    U+EFFD,
    U+F000;
}


/* latin 400 italic */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src:
  local("Source Sans Pro Italic"),
  local("SourceSansPro-It"),
  url("../fonts/source-sans-pro/M2Jd71oPJhLKp0zdtTvoM2Sl3jWJ3D9poyJPMfASioc.woff2")
  format("woff2"),
  url("../fonts/source-sans-pro/M2Jd71oPJhLKp0zdtTvoM2Sl3jWJ3D9poyJPMfASioc.woff")
  format("woff");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2212,
    U+2215,
    U+E0FF,
    U+EFFD,
    U+F000;
}
