/*------------------------------------*\
  #TYPOGRAPHY-SETTINGS
\*------------------------------------*/

:root {
  --fontFamily--sans: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --fontFamily--serif: Garmond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
  --fontFamily--monospaced: monospace;
  --fontFamily-page: var(--fontFamily--sans);
  --fontSize--tiny: .75rem; /* 12px */
  --fontSize--small: .875rem; /* 14px */
  --fontSize--semiNormal: 1rem; /* 16px */
  --fontSize--normal: 1.125rem; /* 18px */
  --fontSize--normalPlus: 1.25rem; /* 20px */
  --fontSize--semiMedium: 1.5rem; /* 24px */
  --fontSize--medium: 2rem; /* 32px */
  --fontSize--semiLarge: 2.5rem; /* 40px */
  --fontSize--large: 3rem; /* 48px */
  --fontSize--xlarge: 4.7rem; /* 75.2px */
  --fontSize-page: 100%;
  --fontSize-heading: var(--fontSize--normalPlus);
  --fontWeight-page: 400;
  --fontWeight-page--bold: 800;
  --lineHeight-page: 1;
  --lineHeight-paragraph: 1.4;
  --lineHeight-heading: 1.3;
  --no-bullet: {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
  };

  --list-horizontal: {
    border: 0;
    clear: both;
    margin: 0;
    padding: 0;
  };

  --ellipsis: {
    display: inline-block;
    overflow: hidden;
    padding: 1px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  };

  --break-word: {
    -ms-word-break: break-all; /* Safari can wait */
    word-break: break-word;
    word-wrap: break-word;
  };
}


/* latin 400 */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src:
  local("Source Sans Pro"),
  local("SourceSansPro-Regular"),
  url("../fonts/source-sans-pro/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2")
  format("woff2"),
  url("../fonts/source-sans-pro/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff")
  format("woff");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2212,
    U+2215,
    U+E0FF,
    U+EFFD,
    U+F000;
}


/* latin 700 */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src:
  local("Source Sans Pro Bold"),
  local("SourceSansPro-Bold"),
  url("../fonts/source-sans-pro/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2")
  format("woff2"),
  url("../fonts/source-sans-pro/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff")
  format("woff");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2212,
    U+2215,
    U+E0FF,
    U+EFFD,
    U+F000;
}


/* latin 400 italic */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src:
  local("Source Sans Pro Italic"),
  local("SourceSansPro-It"),
  url("../fonts/source-sans-pro/M2Jd71oPJhLKp0zdtTvoM2Sl3jWJ3D9poyJPMfASioc.woff2")
  format("woff2"),
  url("../fonts/source-sans-pro/M2Jd71oPJhLKp0zdtTvoM2Sl3jWJ3D9poyJPMfASioc.woff")
  format("woff");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2212,
    U+2215,
    U+E0FF,
    U+EFFD,
    U+F000;
}
