/*---
title: Accordion
section: Components
---*/

:root {
  --fontSize-accordion__title: var(--fontSize--tiny);
  --size-accordion: 8px;
  --size-accordion__title: 10px;
  --size-accordion__nested-arrow: 4px;
  --offset-nested: 9px;
  --offset-accordion__action: var(--size-accordion);
  --offset-accordion--nav__action: 4px;
  --accordion__title: {
    font-size: var(--fontSize-accordion__title);
    font-weight: normal;
    text-transform: uppercase;
  };
}

.o-accordion {
  overflow-x: hidden;
  overflow-y: scroll;

  & .is-nested {
    padding-left: var(--offset-nested);
    text-indent: calc( -1 * var(--offset-nested));

    &:not(.is-active) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &::before {
      @apply --triangle;
      @apply --triangle-right;
      border-width: var(--size-accordion__nested-arrow) 0 var(--size-accordion__nested-arrow) calc(var(--size-accordion__nested-arrow) * 1.5);
      margin-right: 4px;
      position: relative;
      transition: transform .1s ease;
    }

    &.is-active::before { transform: rotate(90deg); }
  }


  & .c-badge {
    font-weight: normal;
    text-indent: 0;
  }

  .o-sidebar > & { height: 100%; }
}


  .o-accordion__title {
    background-color: var(--backgroundColor-accordion);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0);
    font-weight: bold;
    padding: var(--size-accordion) 20px !important;
    transition: all .1s ease;

    &:hover {
      background-color: var(--backgroundColor-accordion--hover);
      cursor: pointer;
    }

    &:active { box-shadow: inset 0 0 4px rgba(0, 0, 0, .42); }

    &:not(.is-active) { border-bottom: 1px solid var(--borderColor-accordion__title); }

    &.is-nested:hover {
      background-color: var(--backgroundColor-accordion--selected);
      color: var(--color-accordion--selected);
    }

    &.is-selected {
      background-color: var(--backgroundColor-accordion--selected);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .8);
      color: var(--color-accordion--selected);
    }

    & .c-icon {
      position: relative;
      top: -2px;
    }
  }


  .o-accordion__content {
    padding-left: var(--size-accordion);

    & > :first-child { padding-top: var(--size-accordion); }

    &:not(.is-active) {
      @apply --fade-out;
      height: 0;
      max-height: 0;
      transition: none;
    }

    &.is-active {
      @apply --fade-in;
      height: auto;
      max-height: auto;
      transition: none;
    }

    &.is-active:not(:last-child) { border-bottom: 1px solid var(--borderColor-accordion__title); }
  }


  .o-accordion__content--bleed { padding-left: 0; }


  .o-accordion__group {
    background-color: var(--backgroundColor-accordion);
    border-top: 1px solid var(--borderColor-accordion__group);
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    transition: background-color .1s ease;

    :--fullscreen & { border-top: 1px solid var(--black); }


    &:hover {
      background-color: var(--backgroundColor-accordion--hover);
      cursor: pointer;

      :--fullscreen & { background-color: var(--blue-900); }
    }


    & .o-accordion__actions { @apply --fade-out; }


    &:hover .o-accordion__actions { @apply --fade-in; }

    &.is-active { background-color: var(--grey-50); }


    /* Disable border for first group if title isn't active */
    .o-accordion__title:not(.is-active) + .o-accordion__content > &:first-child { border-top: none; }
  }


  .o-accordion__name {
    flex: 1;
    min-width: 1px;
    padding: 8px 0 8px 20px;
  }


  .o-accordion__action {
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin-left: -3px;
    overflow: hidden;
    padding: 6px;
    transition: background-color var(--global-duration) ease;
    width: 36px;

    &:focus { box-shadow: inset 0 0 4px rgba(0, 0, 0, .5); }
  }


  .o-accordion__action--informative {
    background-color: var(--backgroundColor-accordion__action--informative);
    color: var(--color-accordion__action--alt);

    &:hover { background-color: var(--backgroundColor-accordion__action--informative--hover); }

    .c-icon { fill: var(--color-accordion__action--alt); }
  }


  .o-accordion__action--success {
    background-color: var(--backgroundColor-accordion__action--success);
    color: var(--color-accordion__action--alt);

    &:hover { background-color: var(--backgroundColor-accordion__action--success--hover); }

    .c-icon { fill: var(--color-accordion__action--alt); }
  }


  .o-accordion__info {
    @apply --ellipsis;
    padding-bottom: 2px;

    &:not(:first-child) { margin-top: var(--size-accordion); }

    &--critical { font-weight: bold; }
  }


  .o-accordion__info--title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }


  .o-accordion__meta {
    @apply --accordion__title;
    @apply --row;
    @apply --row-collapse;
    margin-bottom: var(--frame-quarter);
  }

  .o-accordion__meta-item {
    @apply --width-column-12;

    @media (--md-up) {
      @apply --width-column-auto;
    }

    &:last-child {
      @media (--md-up) {
        @apply --end;
      }
    }
  }


.o-accordion--small {

  & .o-accordion__title {
    @apply --accordion__title;
    padding: var(--size-accordion__title) calc(2 * var(--size-accordion__title)) !important;
  }

  & .o-accordion__title.is-nested {
    font-weight: bold;
    padding: 11px var(--size-accordion);
  }

  .o-accordion__content.is-active,
  .o-accordion__title:not(.is-active) {
    border-bottom: 1px solid var(--borderColor-accordion--nav);
  }

  .o-accordion__content { padding-left: 0; }

  .o-accordion__group {
    border-top: 1px solid var(--borderColor-accordion--nav__group);
    padding: var(--size-accordion) calc(2 * var(--size-accordion__title));
  }

  .o-accordion__action { top: var(--offset-accordion--nav__action); }
}


.o-accordion--inline {
  border: 1px solid var(--grey-300);
  height: 220px;
  overflow-y: scroll;

  .o-accordion__content { padding-left: 0; }

  .o-accordion__group { border-top: none; }

  .u-wrapper + & { margin-top: -17px; }
}
