/*------------------------------------*\
  #AVATAR
\*------------------------------------*/

:root {
  --borderRadius-avatar: 100px;
  --borderSize-avatar: 2px;
  --borderSize-avatar--medium: 3px;
  --borderSize-avatar--large: 4px;
  --borderSize-avatar--xlarge: 5px;
  --borderSize-avatar--huge: 6px;
  --divisor-avatar: 2.5;
  --size-avatar: 40px;
  --scale-avatar: calc(var(--size-avatar) / var(--divisor-avatar));
  --size-avatar--medium: 55px;
  --scale-avatar--medium: calc(var(--size-avatar--medium) / var(--divisor-avatar));
  --size-avatar--large: 75px;
  --scale-avatar--large: calc(var(--size-avatar--large) / var(--divisor-avatar));
  --size-avatar--xlarge: 90px;
  --scale-avatar--xlarge: calc(var(--size-avatar--xlarge) / var(--divisor-avatar));
  --size-avatar--huge: 110px;
  --scale-avatar--huge: calc(var(--size-avatar--huge) / var(--divisor-avatar));
}

@custom-selector :--2-figures *:first-child:nth-last-child(2), *:first-child:nth-last-child(2) ~ *;
@custom-selector :--3-figures *:first-child:nth-last-child(3), *:first-child:nth-last-child(3) ~ *;
@custom-selector :--4-figures *:first-child:nth-last-child(4), *:first-child:nth-last-child(4) ~ *;


.c-avatar {
  @apply --top;
  background-color: var(--color-avatar);
  border-radius: var(--borderRadius-avatar);
  color: var(--color-avatar--secondary);
  display: inline-block;
  font-size: var(--scale-avatar);
  font-weight: bold;
  height: var(--size-avatar);
  line-height: var(--size-avatar);
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: var(--size-avatar);

  & > .c-icon {
    fill: currentColor;
    height: 100%;
    padding: calc(calc(var(--size-avatar) - var(--size-icon--normal)) / 2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .t-dark &,
  .t-fullscreen &,
  :--fullscreen & {
    color: var(--grey-200);
  }
}

.c-avatar--medium {
  font-size: var(--scale-avatar--medium);
  height: var(--size-avatar--medium);
  line-height: var(--size-avatar--medium);
  width: var(--size-avatar--medium);

  & > .c-icon {
    padding: calc(calc(var(--size-avatar) - var(--size-icon--normal)) / 2);
  }
}

.c-avatar--large {
  font-size: var(--scale-avatar--large);
  height: var(--size-avatar--large);
  line-height: var(--size-avatar--large);
  width: var(--size-avatar--large);

  & > .c-icon {
    padding: calc(calc(var(--size-avatar) - var(--size-icon--normal)) / 2);
  }
}

.c-avatar--xlarge {
  font-size: var(--scale-avatar--xlarge);
  height: var(--size-avatar--xlarge);
  line-height: var(--size-avatar--xlarge);
  width: var(--size-avatar--xlarge);

  & > .c-icon {
    padding: calc(calc(var(--size-avatar) - var(--size-icon--normal)) / 2);
  }
}

.c-avatar--huge {
  font-size: var(--scale-avatar--huge);
  height: var(--size-avatar--huge);
  line-height: var(--size-avatar--huge);
  width: var(--size-avatar--huge);

  & > .c-icon {
    padding: calc(calc(var(--size-avatar) - var(--size-icon--normal)) / 2);
  }
}


.c-avatar--primary:not(.c-avatar--bordered) {
  background-color: var(--color-avatar-alt--primary);
  color: var(--color-avatar-alt--secondary);

  & > .c-icon { fill: var(--color-avatar-alt--secondary); }
}


.c-avatar--accent:not(.c-avatar--bordered) {
  background-color: var(--color-avatar-alt--accent);
  color: var(--color-avatar-alt--secondary);

  & > .c-icon { fill: var(--color-avatar-alt--secondary); }
}

.c-avatar--bordered {
  background-color: var(--color-avatar);
  border: var(--borderSize-avatar) solid var(--color-avatar);
  line-height: calc(var(--size-avatar) - var(--borderSize-avatar));

  &.c-avatar--primary { border-color: var(--color-avatar-alt--primary); }

  &.c-avatar--accent { border-color: var(--color-avatar-alt--accent); }

  &.c-avatar--medium {
     border-width: var(--borderSize-avatar--medium);
     line-height: calc(var(--size-avatar--medium) - var(--borderSize-avatar--medium));
   }

  &.c-avatar--large {
     border-width: var(--borderSize-avatar--large);
     line-height: calc(var(--size-avatar--large) - var(--borderSize-avatar--large));
   }

  &.c-avatar--xlarge {
     border-width: var(--borderSize-avatar--xlarge);
     line-height: calc(var(--size-avatar--xlarge) - var(--borderSize-avatar--xlarge));
   }

  &.c-avatar--huge {
     border-width: var(--borderSize-avatar--huge);
     line-height: calc(var(--size-avatar--huge) - var(--borderSize-avatar--huge));
   }
}





/*------------------------------------*\
  #AVATAR-INDICATOR
\*------------------------------------*/

.c-avatar__indicator {
  background-color: var(--grey-100);
  box-shadow: 0 0 0 2px var(--white);
  border-radius: 100px;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.c-avatar__indicator--primary {
  background-color: var(--color-primary);
}

.c-avatar__indicator--accent {
  background-color: var(--color-accent);
}





/*------------------------------------*\
  #AVATAR-GROUP
\*------------------------------------*/
.c-avatar-group {
  border-radius: var(--global-rounded);
  display: inline-block;
  height: var(--size-avatar);
  overflow: hidden;
  width: var(--size-avatar);

  & > .c-avatar,
  & > .c-icon {
    border-radius: 0;
    float: left;
  }

  & > .c-avatar > .c-icon { padding: 3px; }

  & > :--2-figures {
    height: 50% !important;
    object-fit: cover;
    width: 100% !important;
  }

  & > :--3-figures {
    height: 33.3333333% !important;
    object-fit: cover;
    width: 100% !important;
  }

  & > :--4-figures {
    height: calc(var(--size-avatar) / 2) !important;
    width: calc(var(--size-avatar) / 2) !important;
  }
}


.c-avatar-group--medium {
  height: var(--size-avatar--medium);
  width: var(--size-avatar--medium);

  & > :--4-figures {
    height: calc(var(--size-avatar--medium) / 2) !important;
    width: calc(var(--size-avatar--medium) / 2) !important;
  }
}

.c-avatar-group--large {
  height: var(--size-avatar--large);
  width: var(--size-avatar--large);

  & > :--4-figures {
    height: calc(var(--size-avatar--large) / 2) !important;
    width: calc(var(--size-avatar--large) / 2) !important;
  }
}

.c-avatar-group--xlarge {
  height: var(--size-avatar--xlarge);
  width: var(--size-avatar--xlarge);

  & > :--4-figures {
    height: calc(var(--size-avatar--xlarge) / 2) !important;
    width: calc(var(--size-avatar--xlarge) / 2) !important;
  }
}

.c-avatar-group--huge {
  height: var(--size-avatar--huge);
  width: var(--size-avatar--huge);

  & > :--4-figures {
    height: calc(var(--size-avatar--huge) / 2) !important;
    width: calc(var(--size-avatar--huge) / 2) !important;
  }
}
