.c-backdrop {
  @apply --fade-out;
  @apply --position-full;
  background-color: var(--color-backdrop);
  position: fixed;
  z-index: var(--zIndex-backdrop) !important;


  &:--active { @apply --fade-in; }

  &:--disabled {
    height: 0 !important;
    width: 0 !important;
  }
}


.c-backdrop--blur > :not(.c-backdrop) {
  filter: blur(5px) grayscale(.7);
}


.c-backdrop--inverted { background-color: var(--color-backdrop--inverted); }
