/* ---
title: Badges
section: Components
---*/

/* DEPRECATED
 * .c-badge--round
 */

:root {
  --backgroundColor-badge: var(--grey-400);
  --backgroundColor-badge--default: transparent;
  --backgroundColor-badge--positive: var(--green-600);
  --backgroundColor-badge--informative: var(--blue-600);
  --backgroundColor-badge--informative-alt: var(--magenta-500);
  --backgroundColor-badge--live: var(--yellow-700);
  --backgroundColor-badge--alterable: var(--orange-600);
  --backgroundColor-badge--negative: var(--red-600);
  --color-badge: var(--white);
  --color-badge--default: var(--color-page);
  --borderRadius-badge: 50px;
  --marginRight-badge: 6px;
  --padding-badge: 3px 8px;
  --padding-badge--icon: 4px;
  --size-badge--small: 14px;
  --size-badge--icon: 30px;
  --badge: {
    border-radius: var(--borderRadius-badge);
    color: var(--color-badge);
    display: inline-block;
    font-size: var(--fontSize--tiny);
    line-height: 22px;
    max-width: 100%;
    outline: 0;
    padding: var(--padding-badge);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  };
}

.c-badge {
  @apply --badge;
  background-color: var(--backgroundColor-badge);

  &:empty { display: none; }

  &:not(:last-child) { margin-right: var(--marginRight-badge); }

  .c-button & {
    background-color: var(--white);
    color: var(--color-button-alt--primary);
    margin-bottom: 3px;
  }

  .c-icon:last-child { margin-left: 3px; }
}

.c-badge--small {
  min-height: var(--size-badge--small);
  min-width: var(--size-badge--small);
}

.c-badge--round,
.c-badge--icon {
  height: var(--size-badge--icon);
  padding: var(--padding-badge--icon);
  width: var(--size-badge--icon);

  & .c-icon {
    height: calc(var(--size-badge--icon) - 10px);
    width: calc(var(--size-badge--icon) - 10px);
  }
}

.c-badge--default {
  background-color: var(--backgroundColor-badge--default);
  color: var(--color-badge--default);
}

.c-badge--positive { background-color: var(--backgroundColor-badge--positive); }
.c-badge--informative { background-color: var(--backgroundColor-badge--informative); }
.c-badge--live { background-color: var(--backgroundColor-badge--live); }
.c-badge--alterable { background-color: var(--backgroundColor-badge--alterable); }
.c-badge--negative { background-color: var(--backgroundColor-badge--negative); }
.c-badge--purple { background-color: var(--backgroundColor-badge--informative-alt); }
