:root {
  --borderRadius-badge: 50px;
  --marginRight-badge: 6px;
  --padding-badge: 3px 8px;
  --padding-badge--icon: 4px;
  --size-badge--small: 14px;
  --size-badge--icon: 30px;
}

.c-badge {
  background-color: var(--color-badge--primary);
  border-radius: var(--borderRadius-badge);
  color: var(--color-badge--secondary);
  display: inline-block;
  font-size: var(--fontSize--tiny);
  line-height: 12px;
  max-width: 100%;
  outline: 0;
  padding: var(--padding-badge);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:empty { display: none; }

  &:not(:last-child) { margin-right: var(--marginRight-badge); }

  .c-button & {
    background-color: var(--white);
    color: var(--color-text);
    margin-bottom: 3px;
  }

  .c-button--primary & { color: var(--color-button-alt--primary); }

  .c-button--accent & { color: var(--color-button-accent--primary); }

  .c-icon:last-child:not(:first-child) { margin-left: 3px; }
}

.c-badge--primary {
  background-color: var(--color-badge--primary);
}

.c-badge--accent {
  background-color: var(--color-badge--accent);
}

.c-badge--small {
  min-height: var(--size-badge--small);
  min-width: var(--size-badge--small);
}

.c-badge--icon {
  height: var(--size-badge--icon);
  padding: var(--padding-badge--icon);
  width: var(--size-badge--icon);

  & .c-icon {
    height: calc(var(--size-badge--icon) - 10px);
    width: calc(var(--size-badge--icon) - 10px);
  }
}
