/*---
title: Buttons
section: Components
---*/

:root {
  /* Default button colors */
  --borderRadius-button: 2px;
  --color-button--primary: color(var(--grey-500) a(20%));
  --color-button--secondary: var(--black);
  --color-button--hover: var(--color-button--primary);
  --color-button--active: color(var(--grey-500) a(30%));
  --color-button--focus: color(var(--black) a(6%));

  /* Colored buttons */
  --color-button-alt--primary: var(--color-primary);
  --color-button-alt--secondary: var(--color-primary-contrast);
  --color-button-alt--hover: var(--color-primary);
  --color-button-alt--active: var(--color-primary);
  --color-button-alt--focus: var(--white);

  /* Disabled buttons */
  --color-button-disabled--primary: color(var(--black) a(12%));
  --color-button-disabled--secondary: color(var(--black) a(26%));

  --fontSize-button: 14px;
  --fontSize-button--dense: calc(var(--fontSize-button) - 1px);
  --size-button: 36px;
  --size-button--dense: calc(var(--size-button) - 4px);

  --opacity-button--disabled: .35;
  --transitionDuration-button: .1s;


  --button--wide: {
    display: block;
    width: 100%;
  };
}


/* Button default is flat */

.c-button {
  background: transparent;
  border: none;
  border-radius: var(--borderRadius-button);
  color: var(--color-button--secondary);
  display: inline-block;
  font-family: inherit;
  font-size: var(--fontSize-button);
  font-weight: 600;
  height: var(--size-button);
  letter-spacing: 0;
  line-height: var(--size-button);
  margin: 6px var(--frame-quarter);
  max-width: 100%;
  min-width: 64px;
  outline: none;
  overflow: visible; /* Internet Explorer 12- */
  padding: 0 var(--frame-quarter);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition:
    box-shadow var(--transitionDuration-button) ease,
    background-color var(--transitionDuration-button) ease,
    color var(--transitionDuration-button) ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  will-change: box-shadow;

  &::-moz-focus-inner {
     border: 0 !important;
     padding: 0 !important;
   }

  &[type="submit"] { -webkit-appearance: none; }

  &:hover { background-color: var(--color-button--hover); }

  &:focus:not(:active),
  &.is-focused { background-color: var(--color-button--focus); }

  &:--active { background-color: var(--color-button--active); }


  &:--disabled {
    background-color: transparent;
    color: var(--color-button-disabled--secondary);
    -ms-pointer-events: none;
    pointer-events: none;
  }

  @media print { display: none; }

  :--fullscreen & { font-size: 1rem; }

  & .c-icon { vertical-align: middle; }
}


.c-button__content { @apply --start; }


.c-button--dense {
  height: var(--size-button--dense);
  font-size: var(--fontSize-button--dense);
  line-height: var(--size-button--dense);
}


.c-button--colored {
  color: var(--color-button-alt--primary);

  &:focus:not(:active) { background-color: var(--color-button-alt--focus); }

  &:--disabled { color: var(--color-button-disabled--secondary); }
}

.c-button--raised {
  background: var(--color-button--primary);

  &::after {
     border-radius: inherit;
     bottom: 0;
     box-shadow: var(--shadow-2);
     content: '';
     left: 0;
     position: absolute;
     transition: box-shadow var(--global-duration) ease;
     right: 0;
     top: 0;
     z-index: 5;
   }


  &:--active {
    background-color: var(--color-button--active);

    &::after { box-shadow: var(--shadow-3); }
  }

  &:focus:not(:active) {
    background-color: var(--color-button--active);

    &::after { box-shadow: var(--shadow-focus); }
   }

  &:--disabled {
     background-color: var(--color-button-disabled--primary);
     color: var(--color-button-disabled--secondary);
     -ms-pointer-events: none;
     pointer-events: none;

    &::after { box-shadow: none; }
   }

  &.c-button--colored {
    background: var(--color-button-alt--primary);
    color: var(--color-button-alt--secondary);

    &:hover { background-color: var(--color-button-alt--hover); }

    &:active { background-color: var(--color-button-alt--active); }

    &:focus:not(:active) { background-color: var(--color-button-alt--active); }
   }
}


.c-button--wide { @apply --button--wide; }
.c-button--rounded { border-radius: var(--global-rounded) !important; }
.c-button--round,
.c-button--radial { border-radius: var(--global-radial) !important; }

.c-button--icon {
  color: var(--grey-700);
  min-width: auto;

  &:hover { color: var(--grey-800); }

  &:--active {
    background-color: transparent;
    color: var(--color-button--hover);
  }

  &::after { opacity: 0 !important; }

  .c-icon {
    height: 24px; /* IE11 Hack instead of inherit */
    margin: 0 !important;
    width: 24px; /* IE11 Hack instead of inherit */
  }
}


.c-button--block {
  border-radius: 0;
  margin-bottom: 9px;
  padding-left: 1em;
  text-align: left;

  & .c-icon:last-child {
    float: right;
    margin-top: 5px;
  }

  .c-icon--close { display: none; }
}


.c-button--dropdown {
  margin-bottom: 0;

  &::before {
    @apply --triangle;
    @apply --triangle-bottom;
    border-width: 5px 4px 0;
    content: '';
    float: right;
    margin: .85em 0 .85em .425rem;
    position: relative;
    vertical-align: middle;
  }

  &:empty::before {
    margin: .85em 0;
  }
}
