/*---
title: Buttons
section: Components
---*/

:root {
  --borderRadius-button: 2px;
  --fontSize-button: var(--fontSize--small); /* 14px */
  --fontSize-button--dense: calc(var(--fontSize-button) - 1px);
  --marginY-button: 6px;
  --marginX-button: var(--frame-quarter);
  --opacity-button--disabled: .35;
  --paddingY-button: 0;
  --paddingX-button: var(--frame-quarter);
  --size-button: 36px;
  --size-button--dense: calc(var(--size-button) - 4px);
  --transitionDuration-button: .1s;
  --size-button--icon: 33px;
  --button--wide: {
    display: block;
    width: calc(100% - var(--marginX-button) - var(--marginX-button));
  };
}


/* Button default is flat */

.c-button {
  background: transparent;
  border: none;
  border-radius: var(--borderRadius-button);
  color: currentColor /* var(--color-button--secondary) */;
  display: inline-block;
  font-family: inherit;
  font-size: var(--fontSize-button);
  font-weight: 600;
  height: var(--size-button);
  letter-spacing: 0;
  line-height: var(--size-button);
  margin: var(--marginY-button) var(--marginX-button);
  max-width: calc(100% - var(--marginX-button) - var(--marginX-button));
  min-width: 64px;
  outline: none;
  overflow: visible; /* Internet Explorer 12- */
  padding: var(--paddingY-button) var(--paddingX-button);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition:
    box-shadow var(--transitionDuration-button) ease,
    background-color var(--transitionDuration-button) ease,
    color var(--transitionDuration-button) ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  will-change: box-shadow;

  &::-moz-focus-inner {
     border: 0 !important;
     padding: 0 !important;
   }

  &[type="submit"] { appearance: none; }

  &:hover {
     background-color: var(--color-button--hover);
   }

  &:focus:not(:active),
  &.is-focused {
     background-color: var(--color-button--focus);

    .t-dark & { background-color: var(--color-button-dark--focus); }
   }

  &:--active {
     background-color: var(--color-button--active);

    .t-dark & { background-color: var(--color-button-dark--active); }
   }


  &:--disabled {
    background-color: transparent;
    color: var(--color-button-disabled--secondary);
    -ms-pointer-events: none;
    pointer-events: none;

    .t-dark & { color: var(--color-button-disabled--dark); }
  }

  @media print { display: none; }


  :--fullscreen & {
    color: var(--color-button-dark--secondary);
    font-size: 1rem;
  }

  & .c-icon { vertical-align: middle; }
}


.c-button__content { @apply --start; }


.c-button--small,
.c-button--dense {
  font-size: var(--fontSize-button--dense);
  height: var(--size-button--dense);
  line-height: var(--size-button--dense);
}


.c-button--primary,
.c-button--colored {
  color: var(--color-button-alt--primary);

  &:hover { background-color: color(var(--color-button-alt--primary) a(30%)); }

  &:--active { background-color: color(var(--color-button-alt--primary) a(40%)); }

  &:focus:not(:active),
   &.is-focused { background-color: var(--color-button-alt--focus); }

  &:--disabled {
    background-color: transparent;
    color: var(--color-button-disabled--secondary);
  }
}

.c-button--accent {
  color: var(--color-button-alt--accent);

  &:hover { background-color: color(var(--color-button-alt--accent) a(30%)); }

  &:--active { background-color: color(var(--color-button-alt--accent) a(40%)); }

  &:focus:not(:active),
  &.is-focused { background-color: var(--color-button-accent--focus); }

  &:--disabled {
    background-color: transparent;
    color: var(--color-button-disabled--secondary);
  }
}

.c-button--circular {
  background: var(--color-button--primary);
  border-radius: 50%;
  height: 55px;
  min-width: 44px;
  width: 55px;

  .c-button& .c-icon {
    --icon-size: 26px;
    height: var(--icon-size);
    margin: 8px 0 !important;
    width: var(--icon-size);
  }

  &::after {
     border-radius: inherit;
     bottom: 0;
     box-shadow: var(--shadow-2);
     content: "";
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     transition: box-shadow var(--global-duration) ease;
     z-index: 5;
   }

  &.c-button--small,
  &.c-button--dense {
     height: 44px;
     width: 44px;
   }
}

.c-button--raised {
  background: var(--color-button--primary);

  &::after {
    border-radius: inherit;
    bottom: 0;
    box-shadow: var(--shadow-1);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow var(--global-duration) ease;
    z-index: 5;
  }
}

.c-button--circular,
.c-button--raised {

  &:--active {
    background-color: var(--color-button-dark--active);

    &::after { box-shadow: var(--shadow-3); }
  }

  &:focus:not(:active),
   &.is-focused {
    background-color: var(--color-button-dark--active);

    &::after { box-shadow: var(--shadow-focus); }
   }

  &:--disabled {
     background-color: var(--color-button-disabled--primary);
     color: var(--color-button-disabled--secondary);
     -ms-pointer-events: none;
     pointer-events: none;

    &::after { box-shadow: none; }

     .t-dark & {
       background-color: var(--color-button-dark--primary) !important;
       color: var(--color-button-disabled--dark) !important;
    }
   }

  &.c-button--primary,
  &.c-button--colored {
    background-color: var(--color-button-alt--primary);
    color: var(--color-button-alt--secondary);

    &:hover { background-color: var(--color-button-alt--hover); }

    &:--active {
       background-color: var(--color-button-alt--active);

      .t-dark & { background-color: var(--color-button-alt--active); }
     }

    &:focus:not(:active),
     &.is-focused { background-color: var(--color-button-alt--active); }
   }

   &:--disabled {
     background-color: var(--color-button-disabled--primary) !important;
     color: var(--color-button-disabled--secondary) !important;
   }


  &.c-button--accent {
    background-color: var(--color-accent);
    color: var(--color-button-accent--secondary);

    &:hover { background-color: var(--color-button-accent--hover); }

    &:--active {
       background-color: var(--color-button-accent--active);

      .t-dark & { background-color: var(--color-button-dark--active); }
    }

    &:focus:not(:active),
    &.is-focused { background-color: var(--color-button-accent--active); }

    &:--disabled {
       background-color: var(--color-button-disabled--primary) !important;
       color: var(--color-button-disabled--secondary) !important;
     }

  .t-dark & { background-color: var(--color-button-accent--primary); }
  }
}


.c-button--wide { @apply --button--wide; }
.c-button--rounded { border-radius: var(--global-rounded) !important; }
.c-button--round,
.c-button--radial { border-radius: var(--global-radial) !important; }

.c-button--icon {
  border-radius: 100px;
  color: var(--color-button-icon);
  height: calc(var(--size-button--icon));
  line-height: 30px;
  margin: 3px;
  min-height: var(--size-button--icon);
  min-width: var(--size-button--icon);
  padding: 0;

  &:hover { color: var(--grey-800); }

  &:--active {
    background-color: transparent;
    color: var(--color-button--hover);
  }

  &::after { opacity: 0 !important; }

  .c-icon {
    height: 24px !important; /* IE11 Hack instead of inherit */
    margin: 0 !important;
    width: 24px !important; /* IE11 Hack instead of inherit */
  }

  .c-card__menu & {
    color: var(--white);
  }

  .c-toolbar__row--dense & {
    height: 29px;
    line-height: 20px;
    min-height: 29px;
    min-width: 29px;
    padding: 3px;

    .c-icon {
      height: 20px !important;
      width: 20px !important;
    }
  }
}


.c-button--block {
  border-radius: 0;
  margin-bottom: 9px;
  padding-left: 1em;
  text-align: left;

  & .c-icon:last-child {
    float: right;
    margin-top: 5px;
  }

  .c-icon--close { display: none; }
}


/* Inside Menu */

.has-menu {

  & > .c-button:not(.c-button--icon),
  &.c-button:not(.c-button--icon) {
    border-bottom: var(--grey-200) 1px solid;
    font-size: inherit;
    font-weight: normal;
    margin: 6px 0;
    text-align: left;
    text-transform: none;
    width: 100%;

    &::before {
     @apply --triangle;
     @apply --triangle-bottom;
     border-width: 5px 4px 0;
     color: var(--grey-600);
     content: "";
     float: right;
     margin: 1em .5rem 1em .75rem;
     position: relative;
     transition: transform .3s ease;
     vertical-align: middle;
   }
  }


  /* Flip the arrow to show the menu is open */
  &:--active {
    & > .c-button,
    &.c-button {
      &::before { transform: rotate(180deg); }
    }
  }


  & > .c-button--wide,
  &.c-button--wide {
     height: auto;
     margin-left: 0;
     margin-right: 0;
     padding: 4px 16px;
     text-align: left;
   }
}
