.o-button-group,
.o-button-group--toggle {
  @apply --text-middle;
  background-color: var(--color-button-group);
  border-radius: 2px;
  box-shadow: var(--shadow-2);
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  height: auto;
  line-height: 46px;
  margin: 6px var(--frame-quarter);
  overflow: hidden;

  & .c-button {
    margin: 0;

    &::after { box-shadow: none; }
  }
}

.c-button--postfix {
  border-radius: 0;

  &:last-child {
     border-radius:
       0
       var(--global-rounded)
       var(--global-rounded)
       0;
  }
}
