/*---
title: Card
section: Components
---*/

:root {
  --padding-card: .75em 1rem;
  --margin-card: 0 0 1em;
  --size-card--square: 320px;
  --card: {
    background-color: var(--color-card--primary);
    border-radius: 2px;
    box-shadow: var(--shadow-1);
    display: flex;
    flex-direction: column;
    font-size: var(--fontSize--semiNormal);
    line-height: 20px;
    margin: var(--margin-card);
    min-height: 200px;
    position: relative;
    text-decoration: none;
    transition: box-shadow var(--global-duration) ease;
    width: 330px;
    z-index: var(--zIndex-card);
  };

  --card-reset: {
    background: transparent !important;
    box-shadow: none !important;
  };
}


.c-card {
  @apply --card;


  @media print {
    border: 1px solid var(--color-card-print);
    box-shadow: none;
  }


  .t-dark & {
    background-color: var(--color-card-dark--primary);
  }


  :--fullscreen & {
    background-color: var(--color-card-dark--primary);
  }

  &:empty { display: none; }
}


  .c-card__title {
    align-items: center;
    color: var(--color-card__title--secondary);
    display: flex;
    justify-content: stretch;
    line-height: normal;
    padding: 1em 1rem;
    perspective-origin: 165px 56px;
    transform-origin: 165px 56px;

    .c-card--primary &,
    .c-card--accent & {
      height: 200px;
    }

    .c-card--primary & {
      background-color: var(--color-card-alt--primary);
      color: var(--color-card-alt--secondary);
    }

    .c-card--accent & {
      background-color: var(--color-card-accent--primary);
      color: var(--color-card-accent--secondary);
    }
  }

  .c-card__title--image {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .c-card__title--image-top-left {
    background-position: top left 15%;
    background-size: auto;
  }

  .c-card__title--image-top-right {
    background-position: top right 15%;
    background-size: auto;
  }

  .c-card__title--image-bottom-left {
    background-position: bottom left 15%;
    background-size: auto;
  }

  .c-card__title--image-bottom-right {
    background-position: bottom right 15%;
    background-size: auto;
  }

  .c-card__title--expanded {
    height: 176px;
  }

  .c-card__title-text {
    align-self: flex-end;
    color: inherit;
    display: flex;
    font-size: var(--fontSize--semiMedium);
    line-height: normal;
    margin: 0;
    overflow: hidden;
    transform-origin: 149px 48px;
  }


  .c-card__media {
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: calc(.346 * 100%);
      width: 100%;
    }

    & > .c-card__media-content {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }


  .c-card__supporting-text {
    padding: 1em 1rem;
    position: relative;
    text-align: start;
    width: 100%; /* Originally was 90% for better typography, however need a better solution for full width stuff */
  }


  .c-card__actions {
    margin-top: auto; /* This pins it down to the bottom of the card */
    min-height: 45px;
    text-align: start;
    width: 100%;

    .c-card--bordered & {
      border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .c-card--image & {
      background-color: rgba(0, 0, 0, .2);
    }
  }


  .c-card__menu {
    position: absolute;
    right: 1em;
    top: 1em;
  }

.c-card--square {
  height: var(--size-card--square) !important;
  width: var(--size-card--square) !important;
}

.c-card--transparent { @apply --card-reset; }

.c-card--expand { flex-grow: 1; }

.c-card--wide { width: 512px; }
