.c-checkbox { @apply --hide-a11y; }

.c-checkbox:checked + label {
  &::before { @apply --fade-in; }
  &::after {
    background-color: var(--color-checkbox--checked);
    border: 2px solid var(--color-checkbox--checked);
  }
}

.c-checkbox + label {
  cursor: pointer;
  display: inline-block;
  font-size: var(--fontSize--small);
  margin-right: 5px;
  padding-left: 19px;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    @apply --checkmark;
    @apply --fade-out;
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 1;
  }

  &::after {
    border: 2px solid var(--color-checkbox);
    border-radius: 2px;
    float: left;
    height: 14px;
    left: 0;
    position: absolute;
    top: 4px;
    transition: border var(--global-duration) ease;
    width: 14px;
  }
}

.c-checkbox:focus + label::before,
.c-checkbox + label:active::before,
.c-checkbox:checked + label:active::before {
  box-shadow: var(--toggle-focus-shadow);
}

.c-checkbox:indeterminate + label,
.c-checkbox.is-indeterminate + label,
.c-checkbox:indeterminate:checked + label,
.c-checkbox.is-indeterminate:checked + label {
  pointer-events: none;
  user-select: none;

  &::before {
    @apply --fade-in;
    height: 2px;
    left: 2px;
    top: 10px;
    transform: rotate(0);
    width: calc(16px - 6px);
  }

  &::after {
    background-color: var(--color-checkbox--indeterminate);
    border-color: var(--color-checkbox--indeterminate);
  }
}

.c-checkbox[disabled],
.c-checkbox.is-disabled {
  user-select: none;

  & + label {
      color: var(--color-checkbox--disabled);

    &::after {
      border-color: var(--color-checkbox--disabled);
    }
  }
}

.c-checkbox:disabled:indeterminate,
.c-checkbox.is-disabled:indeterminate,
.c-checkbox:disabled.is-indeterminate,
.c-checkbox.is-disabled.is-indeterminate,
.c-checkbox:disabled:checked,
.c-checkbox.is-disabled:checked {
  & + label::after {
    background-color: var(--color-checkbox--disabled);
    border-color: var(--color-checkbox--disabled);
   }
}

.c-checkbox--stacked {
  & + label {
    display: block;
    margin-bottom: 1em;
  }
}
