.t-devcards { overflow-x: hidden; }

#com-rigsomelight-devcards-main {
  @apply --width-column-12;

  @media (--md-up) { margin: 0 auto; }

  @media (--md) { @apply --width-column-10; }

  @media (--lg-up) { @apply --width-column-6; }
}

.com-rigsomelight-devcards {
  &-card-base { padding: 20px 0; }

  &-list-group {

    &-item {
      display: block;
      margin: 0 30px -1px;
      padding: 10px 14px;
      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-100);
      }
    }
  }

  &-badge {
    background-color: var(--grey-500);
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: var(--fontSize--tiny);
    font-weight: 100;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
  }

  &-typog a {
    color: var(--blue-700);
  }

  /*
  &-card-base,
  &-card-base-no-pad {
    @apply --card;
    display: block;
  }
  */

  &-devcard-padding {
    padding: .5em 1em 1em;
  }

  &_rendered-card {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
    h2 {
      font-size: var(--fontSize--semiMedium);
    }
  }

  &-card-hide-border,
  &-breadcrumbs {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  &-panel-heading {
    background-color: var(--blue-50);
    border-bottom: 1px solid var(--blue-100);
    padding: .5em 1em;
    a {
      font-size: var(--fontSize--semiMedium);
    }
    .com-rigsomelight-devcards-badge {
      margin-top: 9px !important;
    }
  }

  &_set-current-path {
    position: relative;
    bottom: 4px;
    margin: 0 3px;
  }

  &-breadcrumb-sep {
    font-size: var(--fontSize--semiMedium);
  }

  &-history-control-bar {
    background-color: rgb(255, 252, 234);
    padding-top: 5px;
    padding-bottom: 3px;
    margin: 14px -30px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
  }

  &-history-control-left {
    display: inline-block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-right-width: 16px;
    border-right-color: var(--white);
    margin-left: -10px;
  }

  &-history-control-right {
    display: inline-block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-left-width: 16px;
    border-left-color: var(--white);
    margin-right: -10px;
  }

  &-history-control-small-arrow {
    display: inline-block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-left-width: 9px;
    border-left-color: var(--white);
    margin-right: -10px;
  }

  &-history-stop {
    display: inline-block;
    height: 17px;
    width: 17px;
    background-color: var(--red-600);
    border-radius: 3px;
  }

  &-error {
    border-left: 5px solid var(--red-600);
    padding-left: 5px;
  }

}

.red-box {
  border: 5px solid var(--red-600);
}
