:root {
  --fontSize-dialog__title: var(--fontSize--normalPlus);
  --color-dialog__divider: var(--borderColor);
}

.c-dialog {
  @apply --fade-out;
  @apply --position-top-left;
  @apply --text-center;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
  text-align: left;
  width: 100%;

  &:--active {
    @apply --fade-in;
    pointer-events: none;
    z-index: var(--zIndex-modal);
  }
}


  .c-dialog__card {
    background-color: var(--color-dialog--primary);
    border-radius: calc(var(--global-rounded) / 2);
    box-shadow: var(--shadow-2);
    margin: 1em 1rem;
    min-height: 100px;
    min-width: 280px;
    pointer-events: auto;
    position: relative;
  }

  .c-dialog__title {
    font-size: var(--fontSize-dialog__title);
    padding: 1em 1rem .85em;
  }


  .c-dialog__content {
    max-height: 82vh;
    overflow-y: scroll;
    padding: .85em 1rem 1em;

    &:first-child { padding-top: 1.25em; }

    .c-dialog__title + & { padding-top: 0; }
  }

  .c-dialog__content--bordered {
    border-bottom: 1px solid var(--color-dialog__divider);
    border-top: 1px solid var(--color-dialog__divider);
  }

  .c-dialog__content--collapse {
    padding: 0 0 .5em;
  }


  .c-dialog__actions {
    @apply --end;
    padding-left: .5rem;
  }

/* TODO Make all buttons stack to the right
  .c-dialog__actions--stacked {
    & > .c-button {
    }
  }
*/




.c-dialog--fullscreen {
  @apply --fade-in;
  height: auto;
  position: static;
  text-align: start;

  & .c-dialog__card {
    box-shadow: none;
    margin: 0;
    width: 100%;
  }
}

