:root {
  --fontSize-dialog__title: var(--fontSize--normalPlus);
  --color-dialog__divider: var(--borderColor);
  --radius-dialog: var(--global-rounded);
}

.c-dialog {
  @apply --fade-out;
  @apply --position-top-left;
  @apply --text-center;
  height: 100%;
  max-height: var(--height-dialog, 100vh);
  overflow: hidden;
  position: var(--position-dialog, fixed);
  text-align: left;
  width: 100%;
  z-index: var(--zIndex-modal) !important;

  &:--active {
    @apply --fade-in;
    pointer-events: none;
  }
}


  .c-dialog__card {
    background-color: var(--color-dialog--primary);
    border-radius: var(--radius-dialog);
    box-shadow: var(--shadow-2);
    margin: var(--margin-dialog__card, 1em 1rem);
    min-height: var(--height-dialog__card, 100px);
    min-width: var(--width-dialog__card, 280px);
    pointer-events: auto;
    position: relative;

    .t-dark &,
    .t-fullscreen &,
    :--fullscreen & {
      background-color: var(--color-dialog-dark--primary);
    }
  }

  .c-dialog__title {
    font-size: var(--fontSize-dialog__title);
    padding: var(--padding-dialog__title, 1em 1rem .85em);
  }


  .c-dialog__content {
    max-height: var(--height-dialog__content, 82vh);
    overflow-y: scroll;
    padding: var(--padding-dialog__content, .85em 1rem 1em);

    &:first-child { padding-top: 1.25em; }

    .c-dialog__title + & { padding-top: 0; }
  }

  .c-dialog__content--bordered {
    border-bottom: 1px solid var(--color-dialog__divider);
    border-top: 1px solid var(--color-dialog__divider);
  }

  .c-dialog__content--collapse {
    padding: var(--padding-dialog__content--collapse, 0 0 .5em);
  }


  .c-dialog__actions {
    @apply --end;
    padding-left: var(--paddingLeft-dialog__actions, .5rem);
  }

/* TODO Make all buttons stack to the right
  .c-dialog__actions--stacked {
    & > .c-button {
    }
  }
*/





.c-dialog--fullscreen {
  @apply --fade-in;
  height: auto;
  position: static;
  text-align: start;

  & .c-dialog__card {
    box-shadow: none;
    margin: 0;
    width: 100%;
  }
}

