:root {
  --fontSize-dialog__title: var(--fontSize--normalPlus);
  --color-dialog__divider: var(--borderColor);
  --radius-dialog: var(--global-rounded);
}

.c-dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1300;
  position: fixed;
  display: none;

  &.c-dialog--scrollPaper {
    justify-content: center;
    align-items: center;
  }

  &.c-dialog--scrollBody {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &.is-active {
    display: flex;
  }
}

.c-dialog__card {
  margin: 48px;
  display: flex;
  outline: none;
  position: relative;
  overflow-y: auto;
  /* overflow: visible; */
  flex-direction: column;

  background-color: var(--color-dialog--primary);
  border-radius: var(--radius-dialog);
  box-shadow: var(--shadow-2);

  .c-dialog--disableOverflow & {
    overflow-y: initial;
    overflow-x: initial;
  }

  &.c-dialog__card--xs {
    --breakpointXs: 0px;
    max-width: 360px;

    .c-dialog--scrollPaper & {
      margin: 48px;
    }
  }

  &.c-dialog__card--sm {
    --breakpointSm: 600px;
    max-width: var(--breakpointSm);

    .c-dialog--scrollPaper & {
      margin: 48px;
    }
  }

  &.c-dialog__card--md {
    --breakpointMd: 960px;
    max-width: var(--breakpointMd);

    .c-dialog--scrollPaper & {
      margin: 48px;
    }
  }

  .c-dialog--scrollPaper & {
    flex: 0 1 auto;
    max-height: calc(100% - 96px);
  }

  .t-dark &,
  .t-fullscreen &,
  :--fullscreen & {
    background-color: var(--color-dialog-dark--primary);
  }
}

.c-dialog__title {
  font-size: var(--fontSize-dialog__title);
  padding: var(--padding-dialog__title, 1em 1rem 0.85em);
}

.c-dialog__content {
  max-height: var(--height-dialog__content, 82vh);
  padding: var(--padding-dialog__content, 0.85em 1rem 1em);

  &:first-child {
    padding-top: 1.25em;
  }

  .c-dialog__title + & {
    padding-top: 0;
  }
}

.c-dialog__content--bordered {
  border-bottom: 1px solid var(--color-dialog__divider);
  border-top: 1px solid var(--color-dialog__divider);
}

.c-dialog__content--collapse {
  padding: var(--padding-dialog__content--collapse, 0 0 0.5em);
}

.c-dialog__actions {
  @apply --end;
  padding-left: var(--paddingLeft-dialog__actions, 0.5rem);
}

/* TODO Make all buttons stack to the right
  .c-dialog__actions--stacked {
    & > .c-button {
    }
  }
*/

.c-dialog--fullscreen {
  @apply --fade-in;
  height: auto;
  position: static;
  text-align: start;

  & .c-dialog__card {
    box-shadow: none;
    margin: 0;
    width: 100%;
  }
}
