/*---
title: Drawer
section: Objects
---*/

:root {
  --backgroundColor-drawer: var(--white);
  --shadow-drawer: 0 0 5px var(--color-shadow);
  --backgroundColor-drawer-header: var(--white);
  --borderColor-drawer: var(--borderColor);
  --color-drawer-header: var(--color-page);
}

.o-drawer {
  background-color: var(--backgroundColor-drawer);
  box-shadow: var(--shadow-drawer);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 85%;
  max-width: 305px;
  z-index: 800;

  left: -100%;
  transition: left .3s ease;
  will-change: left;

  &.is-open { left: 0; }
}

.o-drawer--right {
  right: -100%;
  left: no;
  transition: right var(--global-duration) ease-in-out;
  will-change: right;

  &.is-open { right: 0; }
}

.o-drawer__close {
  @apply --fade-out;
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 750 !important;

  .is-open + & { @apply --fade-in; }
}

.o-drawer__header {
  background-color: var(--backgroundColor-drawer-header);
  border-bottom: 1px solid var(--grey-200);
  color: var(--color-drawer-header);
  height: 58px;
  padding: 0 1em;
}

.o-drawer__product {
  color: var(--orange-900);
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 0 1em;
  position: relative;
  vertical-align: middle;
}

.o-drawer__group {
  &:not(:last-child) { border-bottom: var(--borderColor-drawer) 1px solid; }
}

.o-drawer__action {
  background-color: var(--white);
  color: var(--color-page);
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  padding: .75em 1rem;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--global-duration) ease-in-out;
  width: 100%;
  will-change: background-color;

  &:--active {
     background-color: var(--grey-100);
     color: var(--orange-900);
  }

  .c-icon {
    fill: var(--orange-900);
    color: var(--grey-700);
    margin-right: .5em;
  }
}

.o-drawer__account-name { font-size: var(--fontSize--semiMedium); }
