:root {
  --shadow-drawer: var(--shadow-2);
}

.c-drawer {
  background-color: var(--color-drawer--primary);
  bottom: 0;
  box-shadow: var(--shadow-drawer);
  left: -100%;
  max-width: 305px;
  position: fixed;
  top: 0;
  transition: left .3s ease;
  width: 85%;
  will-change: left;
  z-index: 800;

  &.is-open { left: 0; }

  .t-dark &,
  .t-fullscreen &,
  :--fullscreen & {
    background-color: var(--color-drawer-dark--primary);
  }
}

.c-drawer--right {
  left: no;
  right: -100%;
  transition: right var(--global-duration) ease-in-out;
  will-change: right;

  &.is-open { right: 0; }
}


.c-drawer__header {
  background-color: var(--color-drawer__header--primary);
  border-bottom: 1px solid var(--color-drawer__divider);
  color: var(--color-drawer__header--secondary);
  height: 58px;
  padding: 0 1em;

  .t-dark &,
  .t-fullscreen &,
  :--fullscreen & {
    background-color: var(--color-drawer__header-dark--primary);
  }
}

.c-drawer__group {
  &:not(:last-child) { border-bottom: var(--color-drawer__divider) 1px solid; }
}


/* TODO Make this possible using backdrop */
.c-drawer__close {
  @apply --fade-out;
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 750 !important;

  .is-open + & { @apply --fade-in; }
}

/* TODO Make this possible through list component */
.c-drawer__action {
  background-color: var(--white);
  color: var(--color-text);
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  padding: .75em 1rem;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--global-duration) ease-in-out;
  width: 100%;
  will-change: background-color;

  &:--active {
     background-color: var(--grey-100);
     color: var(--color-primary);
  }

  .c-icon { margin-right: .5em; }
}
