/*---
title: Field
section: Components
---*/

:root {
  --borderColor-field: var(--grey-200);
  --borderColor-field--focus: var(--blue-400);
  --borderColor-field--invalid: var(--orange-500);
  --borderColor-field--error: var(--red-400);
  --field-font-size: 16px;
  --field-font-size--dense: 13px;
  --field-min-height: 30px;
}

.c-field {
  @apply --middle;
  background-color: transparent;
  border-bottom: solid var(--borderColor-field);
  border-width: 0 0 1px;
  border-radius: 0;
  color: var(--color-page);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: inherit;
  font-size: var(--field-font-size);
  height: 36px;
  margin: 6px 0;
  min-height: var(--field-min-height); /* IE11 Input Height */
  padding: 0 0 1px 0;
  transition: border var(--global-duration) ease-in-out, padding .4s ease-in, padding .2s ease-out;
  width: 100%;


  &:focus,
  &.has-focus {
    border-width: 0 0 2px;
    border-bottom-color: var(--borderColor-field--focus);
    padding-bottom: 0;
    outline: none;
  }


  &:focus:invalid,
  &:focus.is-invalid,
  &:invalid,
  &.is-invalid {
     border-width: 0 0 2px;
     padding-bottom: 0;
     border-bottom-color: var(--borderColor-field--invalid);
   }


  &:focus.is-error {
     border-width: 0 0 2px;
     padding-bottom: 0;
     border-bottom-color: var(--borderColor-field--error);
   }


  &.is-error {
     border-width: 0 0 2px;
     padding-bottom: 0;
     border-bottom-color: var(--color-negative);
  }


  &[disabled] {
    border-width: 0 0 2px;
    padding-bottom: 0;
    border-bottom-style: dotted;
  }


  .c-button { margin-bottom: 0 !important; }

  &[type="color"] {
    appearance: none;
    border-radius: 2px;
    border: none;
    height: 30px;
  }

  &[type="color"]::-webkit-color-swatch-wrapper {
    border-radius: 2px;
    box-shadow:
      0 0 1px 1px var(--borderColor-field),
      0 0 1px 1px var(--borderColor-field),
      0 0 1px 1px var(--borderColor-field),
      0 0 1px 1px var(--borderColor-field);
    border: 1px solid var(--white);
    padding: 0;
  }

  &[type="color"]:focus::-webkit-color-swatch-wrapper {
     box-shadow:
       0 0 1px 1px var(--borderColor-field--focus),
       0 0 1px 1px var(--borderColor-field--focus),
       0 0 1px 1px var(--borderColor-field--focus),
       0 0 1px 1px var(--borderColor-field--focus);
  }

  &[type="color"]::-webkit-color-swatch {
    border-radius: 3px;
    border: none;
  }
}


  .c-field__input {
    border: none;
    flex: 1 1 0%;
    font-size: var(--field-font-size);
    margin-bottom: 0;
    width: auto;
  }


.c-field--block {
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
  margin-bottom: .5em;
  padding: 0;

  .c-field__input { padding: 0; }
}


.c-field--small {
  font-size: var(--fontSize--tiny);

  .c-field__input { font-size: inherit; }
}


.c-field--medium {
  font-size: var(--fontSize--semiMedium);
  height: auto;
  min-height: 34px;

  .c-field__input { font-size: inherit; }

  & > .c-icon { margin: 4px 0; }
}


.c-field--large {
  font-size: var(--fontSize--semiLarge);
  height: 48px;

  .c-field__input { font-size: inherit; }
}


.c-field--stamped {
  color: var(--white);
  font-family: monospace;
  font-weight: bold;

  & + .c-button--icon .c-icon { color: var(--white); }
}


.c-field--inset { text-indent: 30px; }


.c-field--inlay { padding-left: 35px; }
