:root {
  --margin-button__icon: 7px;
  --opacity-button--disabled: .35;
  --size-button__icon: 20px;
  --size-icon--small: 17px;
  --size-icon--normal: 24px;
  --size-icon--medium: 35px;
  --size-icon--large: 48px;
  --size-icon--xlarge: 64px;
  --size-icon--huge: 128px;
  --size-icon: var(--size-icon--normal);

  --icon-dimensions: {
    height: var(--size-icon) !important;
    width: var(--size-icon) !important;
  };
}

.c-icon-column {
  @apply --middle;
  vertical-align: middle;
  width: 52px;
}


.c-icon {
  display: inline-block;
  fill: var(--color-icon);
  height: var(--size-icon);
  user-select: none;
  vertical-align: middle;
  width: var(--size-icon);

  svg {
    height: inherit;
    width: inherit;
  }

  &:--disabled { opacity: var(--opacity-button--disabled); }

  &.is-active {
     color: var(--color-icon--active) !important;
     fill: var(--color-icon--active) !important;
   }

  &.is-passive {
     color: var(--color-icon--passive) !important;
     fill: var(--color-icon--passive) !important;
   }

  .c-button & {
    height: var(--size-button__icon);
    margin-top: -3px;
    width: var(--size-button__icon);

    &:first-child { margin-right: var(--margin-button__icon); }

    &:last-child { margin-left: var(--margin-button__icon); }
  }

  @media print {
    &--help { display: none; }
  }
}


.c-icon--framed {
  margin: 6px 8px;
  min-height: 36px;
  min-width: 36px;
  padding: 0 8px;
}

.c-icon--small {
  --size-icon: var(--size-icon--small);
  @apply --icon-dimensions;
}


.c-icon--medium {
  --size-icon: var(--size-icon--medium);
  @apply --icon-dimensions;
}


.c-icon--large {
  --size-icon: var(--size-icon--large);
  @apply --icon-dimensions;
}


.c-icon--xlarge {
  --size-icon: var(--size-icon--xlarge);
  @apply --icon-dimensions;
}


.c-icon--huge {
  --size-icon: var(--size-icon--huge);
  @apply --icon-dimensions;
}

.c-icon--round { border-radius: var(--global-rounded); }
.c-icon--radial { border-radius: var(--global-radial); }
.c-icon--circular { border-radius: var(--global-circular); }
