.c-iconbar {
  @apply --position-bottom;
  background-color: var(--color-iconbar-background);
  border-top: 1px solid var(--color-iconbar-border);
  display: table;
  height: 56px;
  min-height: 56px;
  text-align: center;
  user-select: none;
  width: 100%;
  z-index: var(--zIndex-bottomNav);

  .c-icon {
    margin: 0 auto 8px;
    transition: all var(--global-duration) ease-in-out;

    .is-active & { margin: 0 auto 6px; }
  }

  .t-dark &,
  .t-fullscreen &,
  :--fullscreen & {
    background-color: var(--grey-800);
    border-top: none;
  }
}


  .c-iconbar__item {
    @apply --center;
    background-color: transparent;
    border: none;
    color: currentColor;
    cursor: pointer;
    display: table-cell;
    font-family: inherit;
    max-width: 96px;
    min-width: 64px;
    padding: 8px 12px 10px;
    text-decoration: none;
    transition: all var(--global-duration) ease-in-out;

    @media (--md-up) {
      max-width: 168px;
      min-width: 120px;
      padding: 0;
    }

    @media (--lg-up) {
      max-width: 56px;
      min-width: 56px;
      padding: 0;
    }

    &:--active {
      color: var(--color-iconbar-item-active);
      max-width: 168px;
      min-width: 92px;
      padding: 6px 12px 10px;
    }
  }


  .c-iconbar__label {
    display: block;
    font-size: var(--fontSize--tiny);
    transition: all var(--global-duration) ease-in-out;

    .is-active & { transform: scale(1.17); }
  }


.c-iconbar--shifting {

  .c-iconbar__item {
    .c-icon {
      position: relative;
      top: 10px;
    }

    &.is-active {
      .c-icon { top: 0; }

      .c-iconbar__label { @apply --fade-in; }
    }
  }

  .c-iconbar__label { @apply --fade-out; }
}


.c-iconbar--rail {
  border-right: 1px solid var(--color-iconbar-border);
  border-top: none;
  display: inline-block;
  height: 100%;
  right: auto;
  top: 0;
  width: 56px;

  .c-iconbar__item {
    display: inline-block;
    height: 24px;
    margin: 18px 0;
    min-height: 24px;
    min-width: 56px;
    padding: 0;
    width: 56px;
  }

  .c-iconbar__label { opacity: 0; }
}

