/*---
title: Label
section: Components
---*/

:root {
  --fontSize-label: var(--fontSize--tiny);
  --fontSize-label--small: 10px;
  --padding-label: 0 3px;
  --padding-label--small: 1px 5px;
  --margin-label: 0 .5rem;
  --size-label: 16px;
  --size-label-icon: calc(var(--size-label) - 1);
}

.c-label {
  background-color: var(--color-label--primary);
  border-radius: var(--global-rounded);
  color: var(--color-label--secondary);
  display: inline-block;
  font-size: var(--fontSize-label);
  line-height: var(--size-label);
  margin: var(--margin-label);
  max-width: 100%;
  outline: 0;
  overflow: hidden;
  padding: var(--padding-label);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:empty { display: none; }

  & > .c-icon {
    height: var(--size-label-icon);
    margin: -3px -1px 0 -1px;
    width: var(--size-label-icon);
  }

  .t-dark &,
  .t-fullscreen &,
  :--fullscreen & {
    color: var(--color-label-dark--secondary);
  }
}


.c-label--primary {
  background-color: var(--color-label-alt--primary);
  color: var(--color-label-alt--secondary);
}

.c-label--accent {
  background-color: var(--color-label-accent--primary);
  color: var(--color-label-accent--secondary);
}

.c-label--small {
  border-radius: 1px;
  font-size: var(--fontSize-label--small);
  margin: 0;
  padding: var(--padding-label--small);
}
