/*---
title: Loader
section: Components
---*/

:root {
  --size-loader: 2em;
}

.c-loader {
  border-radius: 50%;
  display: inline-block;
  height: var(--size-loader);
  clear: both;
  position: relative;
  opacity: 1;
  width: var(--size-loader);
}

.c-loader:before,
.c-loader:after  {
  content:'';
  border: 1px var(--color-loader) solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.c-loader:before {
  transform: scale(1,1);
  opacity: 1;
  animation: waveBe 0.6s infinite linear;
}
.c-loader:after {
  transform: scale(0,0);
  opacity: 0;
  animation: waveAf 0.6s infinite linear;
}

@keyframes waveAf {
  from { transform: scale(0.5,0.5); opacity: 0; }
  to { transform: scale(1,1); opacity: 1; }
}

@keyframes waveBe {
  from { transform: scale(1,1); opacity: 1; }
  to { transform: scale(1.5,1.5); opacity: 0; }
}


.c-loader--primary {
  &::before,
  &::after {border-color: var(--color-loader-primary); }
}

.c-loader--accent {
  &::before,
  &::after { border-color: var(--color-loader-accent); }
}

.c-loader--inverted {
  &::before,
  &::after { border-color: var(--color-loader-inverted); }
}
