/*---
title: Dropdowns
section: Components
---*/

/* DEPRECATED
 * .c-menu__toggle, .c-dropdown__text-toggle, .c-dropdown__content
 */


:root {
  --height-menu-select--small: 26px;
  --height-menu-select--large: 42px;
  --size-menu-select: 30px;
  --size-menu-icon: 16px;
  --offset-menu-icon: 3px;
}

.c-menu {
  @apply --fade-out;
  background-color: var(--color-menu-background);
  box-shadow: var(--shadow-menu);
  left: 0;
  list-style: none;
  min-width: 100px;
  padding: .5em 0;
  position: absolute;
  top: calc(100% - 6px);
  z-index: var(--zIndex-menu);

  &:--active { @apply --fade-in; }

  &::before { right: 20px !important; }

  &::after,
  &:not(.is-active) svg { display: none; }

  & .c-icon {
    color: var(--color-page);
    height: var(--size-menu-icon);
    top: var(--offset-menu-icon) !important;
    width: var(--size-menu-icon);
  }

  & > .c-button { margin: 0 !important; }

  &--overlap {
    left: 13px !important;
    top: -3px !important;
    width: 165px !important;
  }
}


.c-menu--large {
  min-width: 200px;
}

.c-button + .c-menu {
  left: .5em;
  right: auto;

  &--top-right,
  &--left-right,
  &--bottom-right { right: .5em !important; }
}


.c-menu--top-right,
.c-menu--bottom-right {
  left: auto !important;
  right: 0;
}


.c-menu--top-right,
.c-menu--top-left {
  top: auto;
  bottom: calc(100% - 6px);
}


.c-tab + .c-menu { top: calc(-.5em + 2px); }



  .c-menu__group:not(:last-child) { border-bottom: 1px solid var(--borderColor-inactive); }


  .c-menu__item {
    background-color: var(--color-menu-link-background);
    font-family: inherit;
    font-size: 15px;
    padding: .75em 1rem;
    text-align: left;
    transition: background-color var(--global-duration) ease, color var(--global-duration) ease;
    width: 100%;

    &:--enter { background-color: var(--color-menu-link-background-enter); }

    &:--active {
       background-color: var(--color-menu-link-background-active);
       color: var(--color-menu-link-active);
    }

    &:--disabled {
       box-shadow: none;
       opacity: .5;
       -ms-pointer-events: none;
       pointer-events: none;
    }
  }

  .c-menu__item-icon {
    display: inline-block;
    width: 30px;
  }


  .c-menu__viewer {
    border-bottom: 1px solid var(--grey-100);
    border-top: 1px solid var(--grey-100);
    padding: .5em 1rem;
    max-height: 50vh;
    overflow: auto;
  }


.has-menu {
  display: inline-block;
  position: relative;
  width: 100%;

  & > .c-tab,
  &.c-tab {
    &::before {
       @apply --triangle;
       @apply --triangle-bottom;
       border-width: 5px 4px 0;
       content: '';
       float: right;
       margin: 3px 0 0 12px;
       position: relative;
       vertical-align: middle;
    }
  }

  & > .c-button,
  &.c-button {
     border-bottom: var(--grey-200) 1px solid;
     text-transform: none;

    &::before {
       @apply --triangle;
       @apply --triangle-bottom;
       border-width: 5px 4px 0;
       color: var(--grey-300);
       content: '';
       float: right;
       margin: 1em .5rem 1em .75rem;
       position: relative;
       vertical-align: middle;
    }
  }

  & > .c-button--wide,
  &.c-button--wide {
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 4px 16px;
    text-align: left;
  }
}


