:root {
  --height-menu-select--small: 26px;
  --height-menu-select--large: 42px;
  --size-menu-select: 30px;
  --size-menu-icon: 16px;
  --offset-menu-icon: 3px;
}

.c-menu {
  @apply --fade-out;
  background-color: var(--color-menu-background);
  box-shadow: var(--shadow-menu);
  left: 0;
  list-style: none;
  min-width: 100px;
  padding: .5em 0;
  position: absolute;
  top: calc(100% - 6px);
  z-index: var(--zIndex-menu);

  .has-menu:--active &,
  &:--active { @apply --fade-in; }

  & .c-icon {
    color: var(--color-text);
    height: var(--size-menu-icon);
    top: var(--offset-menu-icon) !important;
    width: var(--size-menu-icon);
  }


  & > .c-field {
    margin: 0;
    padding: 0 .5rem;
  }
}


.c-menu--large {
  min-width: 200px;
}

.c-button + .c-menu {
  left: .5em;
  right: auto;

  &--top-right,
  &--left-right,
  &--bottom-right { right: .5em !important; }
}


.c-card__menu .c-menu,
.c-menu--top-right,
.c-menu--bottom-right {
  left: auto !important;
  right: 0;
}


.c-menu--top-right,
.c-menu--top-left {
  bottom: calc(100% - 6px);
  top: auto;
}


.c-tab + .c-menu { top: calc(-.5em + 2px); }



  .c-menu__group:not(:last-child) {
    border-bottom: 1px solid var(--borderColor-inactive);
  }


  .c-menu__item {
    background-color: var(--color-menu-link-background);
    font-family: inherit;
    font-size: 15px;
    padding: .75em 1rem;
    text-align: left;
    transition:
      background-color var(--global-duration) ease,
      color var(--global-duration) ease;
    width: 100%;

    &:--enter { background-color: var(--color-menu-link-background-enter); }

    &:--active {
       background-color: var(--color-menu-link-background-active);
       color: var(--color-menu-link-active);
    }

    &:--disabled {
       box-shadow: none;
       opacity: .5;
       -ms-pointer-events: none;
       pointer-events: none;
    }
  }

  .c-menu__item-icon {
    display: inline-block;
    width: 30px;
  }


  .c-menu__viewer {
    border-bottom: 1px solid var(--grey-100);
    max-height: 50vh;
    overflow: auto;
    padding: .5em 1rem;
  }


.has-menu {
  display: inline-block;
  padding: calc(1em - 8px) 0 .5em;
  position: relative;
  width: 100%;
}
