:root {
  --fontSize-message: var(--fontSize--tiny);
}


.c-message {
  color: var(--color-message);
  font-size: var(--fontSize-message);
  transition: color var(--global-duration) ease;
}


.c-message--primary { color: var(--color-message-alt-primary); }


.c-message--accent { color: var(--color-message-accent-primary); }


.is-error + .c-message { color: var(--color-message-error); }


.is-invalid + .c-message { color: var(--color-message-invalid); }
