/*---
title: Messages
section: Components
---*/

:root {
  --color-message: var(--color-informative);
  --fontSize-message: var(--fontSize--tiny);
  --message: {
    color: var(--color-message);
    font-size: var(--fontSize-message);
    transition: color var(--global-duration) ease;
  };
}


.c-message {
  @apply --message;

  :--fullscreen & {
    --fontSize-message: 1rem;
    @apply --message;
  }
}


.c-message--success {
  --color-message: var(--color-positive);
  @apply --message;

  :--fullscreen & {
    --color-message: green;
    --fontSize-message: 1rem;
    @apply --message;
  }
}


.c-message--neutral {
  --color-message: var(--color-neutral);
  @apply --message;
}


.c-message--warning {
  --color-message: var(--color-alterable);
  @apply --message;
}


.c-message--alert {
  --color-message: var(--color-negative);
  @apply --message;

  :--fullscreen & {
    --color-message: red;
    --fontSize-message: 1rem;
    @apply --message;
  }
}


.c-message--cap { text-transform: uppercase; }
