:root {
  --counter-size: 10px;
  --counter-offset: 5px;
}

.c-radio {
  @apply --hide-a11y;

  &:checked + label {
    &::before {
     background-color: var(--color-radio--secondary--checked);
     border: 2px solid var(--color-radio--checked);
     transition: all var(--global-duration) ease;

      .t-dark &,
      .t-fullscreen &,
      :--fullscreen & {
        background-color: var(--color-radio-dark--secondary--checked);
      }
    }

    &::after { @apply --fade-in; }
  }

  & + label {
    cursor: pointer;
    display: inline-block;
    padding-left: 17px;
    position: relative;
    z-index: 1;

    &::before {
      background-color: var(--color-radio--secondary);
      border: 2px solid var(--color-radio--primary);
      border-radius: 50px;
      content: "";
      display: inline-block;
      float: left;
      font-size: var(--fontSize--small);
      height: 20px;
      left: 0;
      margin-bottom: 0;
      margin-right: 8px;
      position: absolute;
      top: 0;
      width: 20px;

      .t-dark &,
      .t-fullscreen &,
      :--fullscreen & {
        background-color: var(--color-radio-dark--secondary);
      }
   }

    &::after {
      @apply --fade-out;
      background-color: var(--color-radio--checked);
      border-radius: 50px;
      content: "";
      height: var(--counter-size);
      left: var(--counter-offset);
      position: absolute;
      top: var(--counter-offset);
      width: var(--counter-size);
      z-index: 5;
    }
  }
}


.c-radio:focus + label::before,
.c-radio + label:active::before,
.c-radio:checked + label:active::before { box-shadow: var(--toggle-focus-shadow); }

.c-radio:focus { box-shadow: var(--toggle-focus-shadow); }

.c-radio:disabled {
  &,
  & + label { user-select: none; }

  & + label {
    &::before { border-color: var(--color-radio--disabled); }
    &::after { background-color: var(--color-radio--disabled); }
  }
}


/* Stacked Orientation */

.c-radio--stacked {
  & + label {
    padding-left: 0;
    text-align: center;
    width: 20px;
  }

  & + label::before {
    margin-bottom: .5em;
    position: relative;
  }
}


.c-radio--expanded {
  & + label {
    margin-right: .5em;
    padding-left: 27px;
  }
}


/* Pipes
 * This is a new utility that should be further developed
 * for responsiveness and better box model handling.
 */

.has-xpipe {
  overflow: hidden;
  padding-bottom: 3px;
  position: relative;

  &::before,
  &::after {
    background-color: var(--grey-200);
    content: "";
    height: 6px;
    position: absolute;
    width: 50%;
    z-index: 0;

    .u-bottom & { bottom: 10px; }
  }

  &::before { left: 0; }

  &::after { right: 0; }
}

.has-start-pipe,
.has-end-pipe {
  .c-icon {
    background-color: var(--white);
    border-radius: 50px;
    position: relative;
    top: 1px;
    z-index: 1;
  }
}

.has-start-pipe::before { display: none; }

.has-end-pipe::after { display: none; }


