/*---
title: Radio
section: Components
---*/

:root {
  --backgroundColor-radio: var(--color-primary-contrast);
  --backgroundColor-radio--checked: var(--color-primary-contrast);
  --borderColor-radio: var(--grey-600);
  --borderColor-radio--checked: var(--color-primary);
  --counter-size: 10px;
  --counter-offset: 5px;
}

.c-radio { @apply --hide-a11y; }

.c-radio:checked + label {
  &::before {
    background-color: var(--backgroundColor-radio--checked);
    border: 2px solid var(--borderColor-radio--checked);
    transition: all var(--global-duration) ease;
  }
  &::after { @apply --fade-in; }
}

.c-radio + label {
  cursor: pointer;
  display: inline-block;
  padding-left: 17px;
  position: relative;

  &::before {
    background-color: var(--backgroundColor-radio);
    border: 2px solid var(--borderColor-radio);
    border-radius: 50px;
    content: "";
    display: inline-block;
    float: left;
    font-size: var(--fontSize--small);
    height: 20px;
    left: 0;
    margin-bottom: 0;
    margin-right: 8px;
    position: absolute;
    top: 0;
    width: 20px;
  }

  &::after {
     @apply --fade-out;
     background-color: var(--borderColor-radio--checked);
     border-radius: 50px;
     content: "";
     height: var(--counter-size);
     left: var(--counter-offset);
     position: absolute;
     top: var(--counter-offset);
     width: var(--counter-size);
     z-index: 5;
   }
}


.c-radio:focus + label::before,
.c-radio + label:active::before,
.c-radio:checked + label:active::before {
  box-shadow: var(--toggle-focus-shadow);
}

.c-radio:focus {
  box-shadow: var(--toggle-focus-shadow);
}


/* Stacked Orientation */

.c-radio--stacked {
  & + label {
    padding-left: 0;
    text-align: center;
    width: 20px;
  }

  & + label::before {
    margin-bottom: .5em;
    position: relative;
  }
}


.c-radio--expanded {
  & + label {
    margin-right: .5em;
    padding-left: 27px;
  }
}


/* Pipes
 * This is a new utility that should be further developed
 * for responsiveness and better box model handling.
 */

.has-xpipe {
  overflow: hidden;
  padding-bottom: 3px;
  position: relative;

  &::before,
  &::after {
    background-color: var(--grey-200);
    content: "";
    height: 6px;
    position: absolute;
    width: 50%;
    z-index: -1;

    .u-bottom & { bottom: 10px; }
  }

  &::before { left: 0; }

  &::after { right: 0; }
}

.has-start-pipe,
.has-end-pipe {
  .c-icon {
    background-color: var(--white);
    border-radius: 50px;
    position: relative;
    top: 1px;
  }
}

.has-start-pipe::before { display: none; }

.has-end-pipe::after { display: none; }


