/*---
title: Switch
section: Components
---*/

.c-switch {
  background-color: #ddddd4;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  user-select: none;
  width: 40px;
  z-index: var(--zIndex-switch);

  .t-dark & { background-color: var(--grey-800); }
}


.c-switch__paddle {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 40px;
  & > .c-icon {
    fill: var(--grey-400);
    width: 17px;
    height: 20px;
    transition: all .3s ease;
    position: relative;

    &:not(:last-of-type) { fill: var(--grey-200); }
  }

  &::before {
    background-color: var(--orange-900);
    content: "";
    display: inline-block;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
  }
}


.c-switch__input {
  height: 20px;
  width: 40px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;

  &:checked + .c-switch__paddle {
    &::before {
      background-color: var(--blue-900);
      left: calc(100% - 20px);
    }

    & > .c-icon { fill: var(--grey-400); }

    & > .c-icon:last-of-type { fill: var(--grey-200); }
  }
}

