.c-switch {
  background-color: var(--color-switch--primary);
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  user-select: none;
  width: 40px;

  .t-dark & { background-color: var(--color-switch-dark--primary); }

  label + & {
    left: .5rem;
    position: relative;
    top: .25em;
  }

  &.is-disabled { background-color: var(--color-switch-disabled--primary) }
}

.c-switch__paddle {
  display: inline-block;
  height: 20px;
  margin-bottom: 0;
  position: relative;
  width: 40px;

  & > .c-icon {
    fill: var(--color-switch--secondary);
    height: 20px;
    position: relative;
    top: 0;
    transition: all .3s ease;
    width: 20px;

    &:not(:last-of-type) { fill: var(--color-switch-alt--secondary); }
  }

  &::before {
     background-color: var(--color-switch-alt--secondary);
     border-radius: 100px;
     content: "";
     display: inline-block;
     height: 20px;
     left: 0;
     position: absolute;
     top: 0;
     transition: all .2s ease;
     width: 20px;
   }
}

.c-switch__input {
  height: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  width: 40px;

  &:checked + .c-switch__paddle {
  &::before {
     background-color: var(--color-switch--checked);
     left: calc(100% - 20px);
   }

  & > .c-icon { fill: var(--color-switch--secondary); }

  & > .c-icon:last-of-type { fill: var(--color-switch-alt--secondary); }
  }

  &[disabled] + .c-switch__paddle::before {
    background-color: var(--color-switch-disabled);
   }
  &:checked[disabled] + .c-switch__paddle::before {
     background-color: var(--color-switch-disabled--checked);
   }
}
