.c-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  max-width: 100%;
  width: 100%;

  caption {
    text-align: left;
    font-size: var(--fontSize--normalPlus);
    height: 64px;
    line-height: 64px;
    padding: 0 24px;
  }

  tbody {
    tr {
      border-top: 1px solid var(--color-table);
    }
  }

  th {
    height: 56px;
    font-size: var(--fontSize--tiny);
    color: color(var(--black) a(.54));

    .t-dark &,
    .t-fullscreen &,
    :--fullscreen & {
      color: color(var(--white) a(.54));
    }
  }


  tr {
    transition: background-color var(--global-duration) ease-in-out;

    &:hover {
      background-color: color(var(--black) a(.05));
     }
  }

  td {
    height: 48px;

    &:first-child {
      @media (--md-up) { max-width: 12em; }
    }
  }


  th,
  td {
    &:first-child {
      text-align: left;
      padding-left: 24px;
    }

    &:last-child { padding-right: 24px; }

    &:not(:first-child):not(:last-child) { padding: 0 56px 0 0; }

     &:not(:first-child) { text-align: right; }
  }


  &__label {
    color: var(--grey-700);
    display: none;
    font-weight: bold;
    padding: 0 .6em 0 0;
    width: 30%;
  }

  &__content { font-weight: normal; }
}

/* Stacked */

.c-table--stacked,
.c-table--stack {
  clear: both;

  tr {
    clear: both;
    display: table-row;

    @media (--md-up) { display: table-row; }
  }

  th,
  td {
    border-right: none !important;
    display: block;
    height: 32px;
    text-align: left !important;
    padding: .5em .5rem !important;

    @media (--md-up) {
      display: table-cell;
      margin: 0;
    }
  }

  thead {
    th,
    td {
      @media (--sm) { display: none; }
    }
  }

  tbody {
    th,
    td {
      @media (--sm) {
        clear: left;
        float: left;
        width: 100%;
      }
    }
  }

  .c-table__label {
    display: inline-block;
    padding: 0 .5em 0 0;
    width: 30%;

    @media (--md-up) { display: none; }
  }

  .c-table__content {
    @media (--sm) {
      display: inline-block;
      max-width: 67%;
    }
  }
}

/* Toggle */
/* This requires a simple dropdown menu to toggle column visibility above the table */

.c-table--toggle {
  .c-table__priority-6,
  .c-table__priority-5,
  .c-table__priority-4,
  .c-table__priority-3,
  .c-table__priority-2,
  .c-table__priority-1 { display: none; }

  .c-table__priority-1 {
    @media (min-width: 20em) { display: table-cell; }
  }

  .c-table__priority-2 {
    @media (min-width: 30em) { display: table-cell; }
  }

  .c-table__priority-3 {
    @media (min-width: 40em) { display: table-cell; }
  }

  .c-table__priority-4 {
    @media (min-width: 50em) { display: table-cell; }
  }

  .c-table__priority-5 {
    @media (min-width: 60em) { display: table-cell; }
  }

  .c-table__priority-6 {
    @media (min-width: 70em) { display: table-cell; }
  }
}

/* Swipe */
/* This requires the first column to persist */
/* Also you will need two arrow buttons above the table to navigate left and right */
/* This should manage column visibility using `.u-hide` classes */

.c-table--swipe {
  .c-table--cell-persist {
    border-right: 2px solid var(--grey-200);
  }
}

.c-table--fix-persist {
  table-layout: fixed;
}

