/*---
title: Tabs
section: Components
---*/

:root {
  --height-tab: 48px;
  --fontSize-tab: 13px;
  --color-tab--active: rgba(255, 255, 255, .1);
  --color-tab--primary: var(--color-primary);
  --borderColor-tab--active: var(--color-accent);
  --padding-tab: 12px;
}

.c-tabs {
  @apply --row;

  .c-toolbar__row &:first-child:not(:last-child) {
    @media (--md-up) { margin-left: -var(--padding-tab); }
  }
}


.c-tab {
  background: transparent;
  border-bottom: 3px solid transparent;
  color: currentColor;
  font-size: var(--fontSize-tab);
  font-weight: bold;
  height: var(--height-tab);
  max-width: 264px;
  min-width: 72px;
  opacity: .60;
  padding: 0 var(--padding-tab);
  text-transform: uppercase;
  transition:
    background-color var(--global-duration) ease,
    border var(--global-duration) ease,
    opacity var(--global-duration) ease;

  &:hover { opacity: 1; }

  &:active { background-color: var(--color-tab--active); }

  &.is-active {
     background-color: transparent;
     border-bottom-color: var(--borderColor-tab--active);
     box-shadow: none;
     opacity: 1;
  }
}

.c-tab--primary {
  &.is-active {
    color: var(--color-tab--primary);
    border-bottom-color: var(--color-tab--primary);
  }
}

.c-tab--contrast {
  &.is-active { border-bottom-color: currentColor; }
}

/* Inside a menu */

.has-menu {
  & > .c-tab,
  &.c-tab {
    &::before {
       @apply --triangle;
       @apply --triangle-bottom;
       border-width: 5px 4px 0;
       content: "";
       float: right;
       margin: 3px 0 0 12px;
       position: relative;
       vertical-align: middle;
    }
  }
}
