/*---
title: Tabs
section: Components
---*/

:root {
  --height-tab: 48px;
  --fontSize-tab: 13px;
  --color-tab--active: rgba(255, 255, 255, .1);
  --borderColor-tab--hover: var(--color-accent);
  --borderColor-tab--active: var(--color-accent);
  --padding-tab: 12px;
}

.c-tabs {
  @apply --row;

  .c-toolbar__row &:first-child {
    @media (--md-up) { margin-left: -var(--padding-tab); }
  }
}


.c-tab {
  background: transparent;
  border-bottom: 2px solid transparent;
  color: currentColor;
  font-size: var(--fontSize-tab);
  height: var(--height-tab);
  max-width: 264px;
  min-width: 72px;
  opacity: .75;
  padding: 0 var(--padding-tab);
  text-transform: uppercase;
  transition: border var(--global-duration) ease, background-color var(--global-duration) ease;

  &:hover { border-bottom-color: var(--borderColor-tab--hover); }

  &:active { background-color: var(--color-tab--active); }

  &.is-active {
     background-color: transparent;
     border-bottom-color: var(--borderColor-tab--active);
     box-shadow: none;
     font-weight: bold;
     opacity: 1;
  }

  :--fullscreen & { font-size: .9rem; }
}

