:root {
  --height-toolbar: 56px;
  --padding-toolbar: 0 .5rem;
  --color-toolbar: var(--white);
}

.c-toolbar {
  align-items: baseline;
  background-color: var(--color-toolbar);
  color: var(--grey-900);
  font-size: 20px;
}

.c-toolbar--raised { box-shadow: var(--shadow-2); }

.c-toolbar--primary { background-color: var(--color-primary); }

.c-toolbar--dark { background-color: var(--grey-900); }

.c-toolbar--primary,
.c-toolbar--dark {
  color: var(--white);

  .c-icon { fill: var(--white); }
}

.c-toolbar--bordered {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.c-toolbar--inline {
  position: static;
}



.c-toolbar__row {
  @apply --row;
  @apply --middle;
  height: var(--height-toolbar);
  z-index: var(--zIndex-appBar);
  width: 100%;

  & .u-column--bar {
    &:nth-child(even) { @apply --end; }

    &:nth-child(odd) { @apply --start; }
  }

  .t-dark & {
    background-color: #101a27;
  }

  @media print {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
    margin: 0 5% !important;

    .u-column--bar:last-child { display: none; }
  }
}

  .c-toolbar__view {
    flex: 1;
  }

  .c-toolbar__actions {
    @apply --end;
    flex: 1;
    order: 1; /* Last */

    @media (--sm) {
      &--desktop { display: none; }
    }

    @media (--md-up) {
      &--handheld { display: none; }
    }

    @media print { display: none; }
  }


  .c-toolbar__action {
    @media (--sm) {
      display: inline-block;
      margin: 0;
      padding: 1em;
    }
  }

.c-toolbar__row--dense {
  height: 48px;

  @media print { display: none; }
}

.c-toolbar__row--expanded {
  height: auto;
}


.c-toolbar__label {
  flex: 1 1 40%;
  margin-bottom: 12px;
  max-height: 42px; /* Change to 2x line-height */
  overflow: hidden;
  padding: 0 0 2px;
  text-overflow: ellipsis;
}
