:root {
  --height-toolbar: 56px;
  --height-toolbar--dense: 48px;
  --size-toolbar__button: 48px;
  --indent-toolbar__row: 78px;
  --marginX-toolbar__button: calc(var(--indent-toolbar__row) - var(--size-toolbar__button));
}

.c-toolbar {
  align-items: baseline;
  background-color: var(--color-toolbar--primary);
  color: var(--color-toolbar--secondary);
  font-size: var(--fontSize--normalPlus);
  position: relative;
  width: 100%;
  z-index: var(--zIndex-appBar);
}

.c-toolbar--raised { box-shadow: var(--shadow-2); }

.c-toolbar--primary {
  background-color: var(--color-toolbar-alt--primary);
  color: var(--color-toolbar-alt--secondary);
}

.c-toolbar--dark {
  background-color: var(--color-toolbar-dark--primary);
  color: var(--color-toolbar-dark--secondary);
}

.c-toolbar--primary,
.c-toolbar--dark {
  .c-icon { fill: var(--white); }
}

.c-toolbar--bordered { border-bottom: 1px solid rgba(0, 0, 0, .1); }

  .c-toolbar__button {
    height: var(--size-toolbar__button);
    left: 0;
    line-height: 42px;
    margin: calc(var(--height-toolbar) - var(--size-toolbar__button)) calc(var(--marginX-toolbar__button) / 5);
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: var(--size-toolbar__button);

    & + .c-toolbar__row { padding-left: var(--indent-toolbar__row); }

    .c-toolbar__row--dense & {
      margin-top: 0;
      margin-bottom: 0;
    }
  }


  .c-toolbar__row {
    @apply --row;
    @apply --middle;
    align-self: stretch;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 5px 0 calc(var(--indent-toolbar__row) - 18px);
    min-height: var(--height-toolbar);

    @media (--md-up) {
      padding: 0 24px 0 var(--indent-toolbar__row);
    }


    * { flex-shrink: 0; }

    @media print {
      background-color: var(--white);
      border-color: var(--black);
      color: var(--black);
      margin: 0 5% !important;
    }
  }


  .c-toolbar__spacer { @apply --spacer; }


  .c-toolbar__actions {
    @media (--md-up) {
      margin-right: -8px;
    }
  }


  .c-toolbar__row--dense {
    min-height: var(--height-toolbar--dense);

    @media print { display: none; }
  }


  .c-toolbar__row--expanded {
    height: auto;
    min-height: auto;
  }
