/*------------------------------------*\
  #LEADER-MARGIN
\*------------------------------------*/

.u-leader--quarter { margin-top: var(--frame-quarter) !important; }

.u-leader--third { margin-top: var(--frame-third) !important; }

.u-leader--half { margin-top: var(--frame-half) !important; }

.u-leader { margin-top: var(--frame) !important; }

.u-leader--double { margin-top: var(--frame-double) !important; }

.u-leader--triple { margin-top: var(--frame-triple) !important; }





/*------------------------------------*\
  #TRAILER-MARGIN
\*------------------------------------*/

.u-trailer--quarter { margin-bottom: var(--frame-quarter) !important; }

.u-trailer--third { margin-bottom: var(--frame-third) !important; }

.u-trailer--half { margin-bottom: var(--frame-half) !important; }

.u-trailer { margin-bottom: var(--frame) !important; }

.u-trailer--double { margin-bottom: var(--frame-double) !important; }

.u-trailer--triple { margin-bottom: var(--frame-triple) !important; }





/*------------------------------------*\
  #RESPONSIVE-ALIGNMENT
\*------------------------------------*/

.u-center { @apply --center; }
.u-end { @apply --end; }
.u-text-center { @apply --text-center; }
.u-text-middle { @apply --text-middle; }
.u-top { align-items: flex-start; }
.u-middle { align-items: center; }
.u-bottom { align-items: flex-end; }
.u-around { justify-content: space-around; }
.u-between { justify-content: space-between; }
.u-center-middle { @apply --center-middle; }

@media (--sm) {
  .u-start\@sm { @apply --start; }
  .u-center\@sm { @apply --center; }
  .u-end\@sm { @apply --end; }
  .u-text-center\@sm { @apply --text-center; }
  .u-text-middle\@sm { @apply --text-middle; }
  .u-top\@sm { align-items: flex-start; }
  .u-middle\@sm { align-items: center; }
  .u-bottom\@sm { align-items: flex-end; }
  .u-around\@sm { justify-content: space-around; }
  .u-between\@sm { justify-content: space-between; }
}


@media (--md-up) {
  .u-start\@md { @apply --start; }
  .u-center\@md { @apply --center; }
  .u-end\@md { @apply --end; }
  .u-text-center\@md { @apply --text-center; }
  .u-text-middle\@md { @apply --text-middle; }
  .u-top\@md { align-items: flex-start; }
  .u-middle\@md { align-items: center; }
  .u-bottom\@md { align-items: flex-end; }
  .u-around\@md { justify-content: space-around; }
  .u-between\@md { justify-content: space-between; }
}


@media (--lg-up) {
  .u-start\@lg { @apply --start; }
  .u-center\@lg { @apply --center; }
  .u-end\@lg { @apply --end; }
  .u-text-center\@lg { @apply --text-center; }
  .u-text-middle\@lg { @apply --text-middle; }
  .u-top\@lg { align-items: flex-start; }
  .u-middle\@lg { align-items: center; }
  .u-bottom\@lg { align-items: flex-end; }
  .u-around\@lg { justify-content: space-around; }
  .u-between\@lg { justify-content: space-between; }
}


@media (--xl-up) {
  .u-start\@xl { @apply --start; }
  .u-center\@xl { @apply --center; }
  .u-end\@xl { @apply --end; }
  .u-text-center\@xl { @apply --text-center; }
  .u-text-middle\@xl { @apply --text-middle; }
  .u-top\@xl { align-items: flex-start; }
  .u-middle\@xl { align-items: center; }
  .u-bottom\@xl { align-items: flex-end; }
  .u-around\@xl { justify-content: space-around; }
  .u-between\@xl { justify-content: space-between; }
}
