.u-wrapper {
  display: inline-block;
  position: relative;
}


.u-row { @apply --row; }
.u-row--break { @apply --row-break; }
.u-row--collapse > [class^="u-column"] { @apply --row-collapse; }
.u-row--reverse { @apply --row-reverse; }
.u-row--wide {
  @apply --row-wide;

  :--fullscreen > & {
    margin: 0 auto;
    max-width: 100%;
  }
}


.u-column { @apply --box-column-auto; }
.u-column--first { order: -1; }
.u-column--last { order: 1; }
.u-column--reverse { flex-direction: column-reverse; }
.u-column--bar { @apply --width-column-bar; }
.u-column--1 { @apply --column-1; }
.u-column--2 { @apply --column-2; }
.u-column--3 { @apply --column-3; }
.u-column--4 { @apply --column-4; }
.u-column--5 { @apply --column-5; }
.u-column--6 { @apply --column-6; }
.u-column--7 { @apply --column-7; }
.u-column--8 { @apply --column-8; }
.u-column--9 { @apply --column-9; }
.u-column--10 { @apply --column-10; }
.u-column--11 { @apply --column-11; }
.u-column--12 { @apply --column-12; }
.u-push--1 { margin-left: var(--width-column); }
.u-push--2 { margin-left: calc(var(--width-column) * 2); }
.u-push--3 { margin-left: calc(var(--width-column) * 3); }
.u-push--4 { margin-left: calc(var(--width-column) * 4); }
.u-push--5 { margin-left: calc(var(--width-column) * 5); }
.u-push--6 { margin-left: calc(var(--width-column) * 6); }
.u-push--7 { margin-left: calc(var(--width-column) * 7); }
.u-push--8 { margin-left: calc(var(--width-column) * 8); }
.u-push--9 { margin-left: calc(var(--width-column) * 9); }
.u-push--10 { margin-left: calc(var(--width-column) * 10); }
.u-push--11 { margin-left: calc(var(--width-column) * 11); }
.u-pull--1 { margin-right: var(--width-column); }
.u-pull--2 { margin-right: calc(var(--width-column) * 2); }
.u-pull--3 { margin-right: calc(var(--width-column) * 3); }
.u-pull--4 { margin-right: calc(var(--width-column) * 4); }
.u-pull--5 { margin-right: calc(var(--width-column) * 5); }
.u-pull--6 { margin-right: calc(var(--width-column) * 6); }
.u-pull--7 { margin-right: calc(var(--width-column) * 7); }
.u-pull--8 { margin-right: calc(var(--width-column) * 8); }
.u-pull--9 { margin-right: calc(var(--width-column) * 9); }
.u-pull--10 { margin-right: calc(var(--width-column) * 10); }
.u-pull--11 { margin-right: calc(var(--width-column) * 11); }

@media (--sm) {
  .u-container { width: var(--width-container--small, 46rem); }
  .u-column--last\@sm { order: 1; }
  .u-column--first\@sm { order: -1; }
  .u-column\@sm { @apply --box-column-auto; }
  .u-column--1\@sm { @apply --column-1; }
  .u-column--2\@sm { @apply --column-2; }
  .u-column--3\@sm { @apply --column-3; }
  .u-column--4\@sm { @apply --column-4; }
  .u-column--5\@sm { @apply --column-5; }
  .u-column--6\@sm { @apply --column-6; }
  .u-column--7\@sm { @apply --column-7; }
  .u-column--8\@sm { @apply --column-8; }
  .u-column--9\@sm { @apply --column-9; }
  .u-column--10\@sm { @apply --column-10; }
  .u-column--11\@sm { @apply --column-11; }
  .u-column--12\@sm { @apply --column-12; }
  .u-push--1\@sm { margin-left: var(--width-column); }
  .u-push--2\@sm { margin-left: calc(var(--width-column) * 2); }
  .u-push--3\@sm { margin-left: calc(var(--width-column) * 3); }
  .u-push--4\@sm { margin-left: calc(var(--width-column) * 4); }
  .u-push--5\@sm { margin-left: calc(var(--width-column) * 5); }
  .u-push--6\@sm { margin-left: calc(var(--width-column) * 6); }
  .u-push--7\@sm { margin-left: calc(var(--width-column) * 7); }
  .u-push--8\@sm { margin-left: calc(var(--width-column) * 8); }
  .u-push--9\@sm { margin-left: calc(var(--width-column) * 9); }
  .u-push--10\@sm { margin-left: calc(var(--width-column) * 10); }
  .u-push--11\@sm { margin-left: calc(var(--width-column) * 11); }
  .u-pull--1\@sm { margin-right: var(--width-column); }
  .u-pull--2\@sm { margin-right: calc(var(--width-column) * 2); }
  .u-pull--3\@sm { margin-right: calc(var(--width-column) * 3); }
  .u-pull--4\@sm { margin-right: calc(var(--width-column) * 4); }
  .u-pull--5\@sm { margin-right: calc(var(--width-column) * 5); }
  .u-pull--6\@sm { margin-right: calc(var(--width-column) * 6); }
  .u-pull--7\@sm { margin-right: calc(var(--width-column) * 7); }
  .u-pull--8\@sm { margin-right: calc(var(--width-column) * 8); }
  .u-pull--9\@sm { margin-right: calc(var(--width-column) * 9); }
  .u-pull--10\@sm { margin-right: calc(var(--width-column) * 10); }
  .u-pull--11\@sm { margin-right: calc(var(--width-column) * 11); }
}

@media (--md-up) {
  .u-container { width: var(--width-container--medium); }
  .u-column\@md { @apply --box-column-auto; }
  .u-column--last\@md { order: 1; }
  .u-column--first\@md { order: -1; }
  .u-column--1\@md { @apply --column-1; }
  .u-column--2\@md { @apply --column-2; }
  .u-column--3\@md { @apply --column-3; }
  .u-column--4\@md { @apply --column-4; }
  .u-column--5\@md { @apply --column-5; }
  .u-column--6\@md { @apply --column-6; }
  .u-column--7\@md { @apply --column-7; }
  .u-column--8\@md { @apply --column-8; }
  .u-column--9\@md { @apply --column-9; }
  .u-column--10\@md { @apply --column-10; }
  .u-column--11\@md { @apply --column-11; }
  .u-column--12\@md { @apply --column-12; }
  .u-push--1\@md { margin-left: var(--width-column); }
  .u-push--2\@md { margin-left: calc(var(--width-column) * 2); }
  .u-push--3\@md { margin-left: calc(var(--width-column) * 3); }
  .u-push--4\@md { margin-left: calc(var(--width-column) * 4); }
  .u-push--5\@md { margin-left: calc(var(--width-column) * 5); }
  .u-push--6\@md { margin-left: calc(var(--width-column) * 6); }
  .u-push--7\@md { margin-left: calc(var(--width-column) * 7); }
  .u-push--8\@md { margin-left: calc(var(--width-column) * 8); }
  .u-push--9\@md { margin-left: calc(var(--width-column) * 9); }
  .u-push--10\@md { margin-left: calc(var(--width-column) * 10); }
  .u-push--11\@md { margin-left: calc(var(--width-column) * 11); }
  .u-pull--1\@md { margin-right: var(--width-column); }
  .u-pull--2\@md { margin-right: calc(var(--width-column) * 2); }
  .u-pull--3\@md { margin-right: calc(var(--width-column) * 3); }
  .u-pull--4\@md { margin-right: calc(var(--width-column) * 4); }
  .u-pull--5\@md { margin-right: calc(var(--width-column) * 5); }
  .u-pull--6\@md { margin-right: calc(var(--width-column) * 6); }
  .u-pull--7\@md { margin-right: calc(var(--width-column) * 7); }
  .u-pull--8\@md { margin-right: calc(var(--width-column) * 8); }
  .u-pull--9\@md { margin-right: calc(var(--width-column) * 9); }
  .u-pull--10\@md { margin-right: calc(var(--width-column) * 10); }
  .u-pull--11\@md { margin-right: calc(var(--width-column) * 11); }
}

@media (--lg-up) {
  .u-container { width: var(--width-container--large); }
  .u-column\@lg { @apply --box-column-auto; }
  .u-column--last\@lg { order: 1; }
  .u-column--first\@lg { order: -1; }
  .u-column--1\@lg { @apply --column-1; }
  .u-column--2\@lg { @apply --column-2; }
  .u-column--3\@lg { @apply --column-3; }
  .u-column--4\@lg { @apply --column-4; }
  .u-column--5\@lg { @apply --column-5; }
  .u-column--6\@lg { @apply --column-6; }
  .u-column--7\@lg { @apply --column-7; }
  .u-column--8\@lg { @apply --column-8; }
  .u-column--9\@lg { @apply --column-9; }
  .u-column--10\@lg { @apply --column-10; }
  .u-column--11\@lg { @apply --column-11; }
  .u-column--12\@lg { @apply --column-12; }
  .u-push--1\@lg { margin-left: var(--width-column); }
  .u-push--2\@lg { margin-left: calc(var(--width-column) * 2); }
  .u-push--3\@lg { margin-left: calc(var(--width-column) * 3); }
  .u-push--4\@lg { margin-left: calc(var(--width-column) * 4); }
  .u-push--5\@lg { margin-left: calc(var(--width-column) * 5); }
  .u-push--6\@lg { margin-left: calc(var(--width-column) * 6); }
  .u-push--7\@lg { margin-left: calc(var(--width-column) * 7); }
  .u-push--8\@lg { margin-left: calc(var(--width-column) * 8); }
  .u-push--9\@lg { margin-left: calc(var(--width-column) * 9); }
  .u-push--10\@lg { margin-left: calc(var(--width-column) * 10); }
  .u-push--11\@lg { margin-left: calc(var(--width-column) * 11); }
  .u-pull--1\@lg { margin-right: var(--width-column); }
  .u-pull--2\@lg { margin-right: calc(var(--width-column) * 2); }
  .u-pull--3\@lg { margin-right: calc(var(--width-column) * 3); }
  .u-pull--4\@lg { margin-right: calc(var(--width-column) * 4); }
  .u-pull--5\@lg { margin-right: calc(var(--width-column) * 5); }
  .u-pull--6\@lg { margin-right: calc(var(--width-column) * 6); }
  .u-pull--7\@lg { margin-right: calc(var(--width-column) * 7); }
  .u-pull--8\@lg { margin-right: calc(var(--width-column) * 8); }
  .u-pull--9\@lg { margin-right: calc(var(--width-column) * 9); }
  .u-pull--10\@lg { margin-right: calc(var(--width-column) * 10); }
  .u-pull--11\@lg { margin-right: calc(var(--width-column) * 11); }
}

@media (--xl-up) {
  .u-container { width: var(--width-container--xlarge); }
  .u-column\@xl { @apply --box-column-auto; }
  .u-column--last\@xl { order: 1; }
  .u-column--first\@xl { order: -1; }
  .u-column--1\@xl { @apply --column-1; }
  .u-column--2\@xl { @apply --column-2; }
  .u-column--3\@xl { @apply --column-3; }
  .u-column--4\@xl { @apply --column-4; }
  .u-column--5\@xl { @apply --column-5; }
  .u-column--6\@xl { @apply --column-6; }
  .u-column--7\@xl { @apply --column-7; }
  .u-column--8\@xl { @apply --column-8; }
  .u-column--9\@xl { @apply --column-9; }
  .u-column--10\@xl { @apply --column-10; }
  .u-column--11\@xl { @apply --column-11; }
  .u-column--12\@xl { @apply --column-12; }
  .u-push--1\@xl { margin-left: var(--width-column); }
  .u-push--2\@xl { margin-left: calc(var(--width-column) * 2); }
  .u-push--3\@xl { margin-left: calc(var(--width-column) * 3); }
  .u-push--4\@xl { margin-left: calc(var(--width-column) * 4); }
  .u-push--5\@xl { margin-left: calc(var(--width-column) * 5); }
  .u-push--6\@xl { margin-left: calc(var(--width-column) * 6); }
  .u-push--7\@xl { margin-left: calc(var(--width-column) * 7); }
  .u-push--8\@xl { margin-left: calc(var(--width-column) * 8); }
  .u-push--9\@xl { margin-left: calc(var(--width-column) * 9); }
  .u-push--10\@xl { margin-left: calc(var(--width-column) * 10); }
  .u-push--11\@xl { margin-left: calc(var(--width-column) * 11); }
  .u-pull--1\@xl { margin-right: var(--width-column); }
  .u-pull--2\@xl { margin-right: calc(var(--width-column) * 2); }
  .u-pull--3\@xl { margin-right: calc(var(--width-column) * 3); }
  .u-pull--4\@xl { margin-right: calc(var(--width-column) * 4); }
  .u-pull--5\@xl { margin-right: calc(var(--width-column) * 5); }
  .u-pull--6\@xl { margin-right: calc(var(--width-column) * 6); }
  .u-pull--7\@xl { margin-right: calc(var(--width-column) * 7); }
  .u-pull--8\@xl { margin-right: calc(var(--width-column) * 8); }
  .u-pull--9\@xl { margin-right: calc(var(--width-column) * 9); }
  .u-pull--10\@xl { margin-right: calc(var(--width-column) * 10); }
  .u-pull--11\@xl { margin-right: calc(var(--width-column) * 11); }
}
