.u-font-size--tiny { font-size: var(--fontSize--tiny); }


.u-font-size--small { font-size: var(--fontSize--small); }


.u-font-size--semi-normal { font-size: var(--fontSize--semiNormal); }


.u-font-size--normal { font-size: var(--fontSize--normal); }


.u-font-size--normal-plus { font-size: var(--fontSize--normalPlus); }


.u-font-size--semi-medium { font-size: var(--fontSize--semiMedium); }


.u-font-size--medium { font-size: var(--fontSize--medium); }


.u-font-size--semi-large { font-size: var(--fontSize--semiLarge); }


.u-font-size--large { font-size: var(--fontSize--large); }


.u-font-size--xlarge { font-size: var(--fontSize--xlarge); }


.u-no-bullet { @apply --no-bullet; }


.u-no-bullets {
  list-style: none;

  &__item { @apply --no-bullet; };
}


.u-list-horizontal { @apply --list-horizontal; }


.u-ellipsis { @apply --ellipsis; }


.u-break-word { @apply --break-word; }


.u-helper-text {
  @apply --top;
  border-left: 2px solid var(--grey-200);
  font-size: var(--fontSize--tiny);
  line-height: 1rem;
  padding: 3px 0 1em 1rem;
}


.u-text-overlay {
  position: relative !important;

  img {
    filter: none;
    transition: filter .3s ease;
  }

  &::before {
    @apply --fade-out;
    bottom: 0;
    color: var(--white);
    content: attr(data-overlay);
    font-weight: bold;
    height: 100%;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-shadow: 0 1px 1px var(--black);
    top: 0;
    width: 50%;
    z-index: 100;

  }

  &:hover {
    &::before { @apply --fade-in; }

    img { filter: blur(1px) brightness(80%) grayscale(80%); }

  }
}


.u-subheader {
  font-size: var(--fontSize--small);
  padding: 1em 0;
}


.u-break\@sm {
  display: block;

  @media (--md-up) { display: inline; }
}


.u-break\@md {
  display: inline;

  @media (--md-up) { display: block; }
}

