.s-healthcheck {
  [class] { outline: 5px solid lightgrey; }

  [class*="__"] { outline: 5px solid grey; }

  [class*="--"] { outline: 5px solid darkgrey; }

  [class^="o-"],
  [class*=" o-"] { outline: 5px solid orange; }

  [class^="c-"],
  [class*=" c-"] { outline: 5px solid cyan; }

  [class*="@"] { outline: 5px solid rosybrown; }

  [class^="_"] { outline: 5px solid red; }
}


.s-markuplint {
  html:not([lang]),
  html[lang=""] { outline: 5px solid lightgrey; }

  :--control:not([id]),
  label:not([for]) { outline: 5px solid grey; }

  :--control:not([name]) { outline: 5px solid darkgrey; }

  img:not([alt]) { outline: 5px solid orange; }

  img[alt=""] { outline: 5px solid darkorange; }


  button:empty,
  a:empty { outline: 5px solid cyan; }

  a:not([href]),
  a[href="#"],
  a[href=""],
  a[href*="javascript:void(0)"] { outline: 5px solid rosybrown; }

  *[style] { outline: 5px solid red; }
}


.u-pulse {
  animation: pulse 2s infinite;
  will-change: box-shadow;

  &:hover { animation: none; }
}


.u-fade-out { @apply --fade-out; }
.u-fade-out\@sm { @media (--sm) { @apply --fade-out; } }
.u-fade-in { @apply --fade-in; }
.u-slide-out { @apply --slide-out; }
.u-slide-out--inv { @apply --slide-out-inv; }
.u-slide-out--short { @apply --slide-out-short; }
.u-slide-in { @apply --slide-in; }


.u-hide,
[hidden] { display: none !important; }


[hidden][aria-hidden="false"],
.u-show\@reader {
  clip: rect(0 0 0 0);
  display: inherit;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;

  &:focus { clip: auto; }
}


/*
Show Class Legend for Clarity

small - medium+
medium - small and large+
medium+ - small
large - small, medium, xlarge+
large+ - small, medium
xlarge - small, medium, large, [90em+]
xlarge+ - small, medium, large
*/

@media (--sm) {
  .u-show\@md,
  .u-show\@md-up,
  .u-show\@lg,
  .u-show\@lg-up,
  .u-show\@xl,
  .u-show\@xl-up,
  .u-hide\@sm { display: none !important; }
}


@media (--md) {
  .u-show\@lg,
  .u-show\@lg-up,
  .u-show\@xl,
  .u-show\@xl-up,
  .u-hide\@md { display: none !important; }
}


@media (--md-up) {
  .u-show\@sm,
  .u-hide\@md-up { display: none !important; }
}


@media (--lg) {
  .u-show\@xl,
  .u-show\@xl-up,
  .u-hide\@lg { display: none !important; }
}


@media (--lg-up) {
  .u-show\@md,
  .u-hide\@lg-up { display: none !important; }
}


@media (--xl) {
  .u-hide\@xl { display: none !important; }
}


@media (--xl-up) {
  .u-show\@lg,
  .u-hide\@xl-up { display: none !important; }
}

@media (--xxl-up) {
  .u-show\@lg { display: none !important; }
}


@media print {
  .u-hide\@print { display: none !important; }
}


@media (--landscape) {
  .u-hide\@landscape { display: none !important; }
}


@media (--portrait) {
  .u-hide\@portrait { display: none !important; }
}


@keyframes pulse {
  0% {
    box-shadow:
    0 0 0 0 var(--pulse-color--start),
    0 0 0 0 var(--pulse-color--start);
  }
  70% {
    box-shadow:
    0 0 0 10px var(--pulse-color--end),
    0 0 0 10px var(--pulse-color--end);
  }
  100% {
    box-shadow:
    0 0 0 0 var(--pulse-color--end),
    0 0 0 0 var(--pulse-color--end);
  }
}
