@import 'untangled-ui';

.com-rigsomelight-devcards-markdown > div > div:empty {
  display: none;
}

.is-primary {
  color: var(--color-primary);
}

.o-article {
  margin-left: 1em;
}

/* stylelint-disable */
.box-row { margin-bottom: 1rem; }

.box,
.box-first,
.box--large,
.box-nested,
.box-row {
  background-color: var(--color-primary);
  color: var(--white);
  font-size: var(--fontSize--tiny);
  min-height: 2em;
  overflow: hidden;
  padding: .75em 0;
  position: relative;
  text-align: center;
}

.box-first { background-color: color(var(--black) a(25%)); }

.box-nested { background-color: color(var(--black) a(40%)); }

.box--large { height: 5rem; }

.box-tall { padding: 200px 0; }

.ui-example {
  margin-bottom: var(--frame-half);
}

.ui-example__description {
  h1 {
    font-size: var(--fontSize--medium);
  }


  h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
  }


  h6 {
    font-size: var(--fontSize--small);
    color: var(--grey-700);
    font-weight: 600;

    .t-dark &,
    .t-fullscreen & {
      color: var(--grey-400);
    }
  }

  code {
    background-color: var(--grey-50);
    font-size: var(--fontSize--semiNormal);
    border-radius: var(--global-rounded);
    padding: .2em 0;
    margin: 0;

    .t-dark &,
    .t-fullscreen &,
    :--fullscreen & {
      background-color: var(--black);
    }
  }

  pre {
    background-color: var(--grey-50);
    border-radius: 4px;
    font-size: 16px;
    padding: 1em;
    line-height: 1.5;
    margin-bottom: 1em;

    .t-dark &,
    .t-fullscreen &,
    :--fullscreen & {
      background-color: var(--black);
    }
  }
}

.ui-viewport-container {
  display: inline-block;
  margin: 0 1.5em;
  position: relative;
  width: 360px;
}

.ui-viewport {
  display: inline-block;
  box-shadow: 0 0 0 1px var(--grey-50);
  overflow: hidden;

}

.ui-viewport--android {
  border-bottom: 50px solid var(--black);
  border-top: 20px solid var(--grey-400);
}

.ui-viewport--mobile {
  height: 640px;
  width: 360px;

}

.ui-example__figure {
  border: 3px solid var(--grey-50);
  padding: 1em 5px;
  margin-top: 1em;

  .t-dark &,
  .t-fullscreen &,
  :--fullscreen & {
    border-color: var(--black);
  }
}

.ui-example__source {
  background-color: var(--grey-50);
  font-size: var(--fontSize--semiNormal);
  line-height: 18px;
  margin-bottom: 2em;
  padding: 5px 0;
  overflow-x: scroll;

  .t-dark &,
  .t-fullscreen &,
  :--fullscreen {
    background-color: var(--black);
  }
}


._example-layout {

  .o-header,
  .o-nav,
  .o-article,
  .o-footer { padding: 1em; }

  .o-header {
    background-color: var(--color-primary);
    color: var(--white);
    position: static;
  }

  .o-nav {
    background-color: color(var(--color-primary) a(50%));
    flex: 1 6 20%;
    order: 1;
  }

  .o-article {
    background-color: var(--grey-50);
    margin-left: 0 !important;
    flex: 3 1 60%;
    order: 2;
  }

  .o-footer {
    background-color: var(--grey-100);
  }
}

.swatch {
  padding: 1em 1rem;

  &__name,
   &__code {
      font-size: var(--fontSize--small);
      font-weight: 600;
    }

  &__code {
    float: right;
   }
}

.ui-palette {
  margin-bottom: 1em;
}

.ui-part__content {
  height: calc(100vh - var(--height-toolbar));
  margin-top: -1em;
  overflow: scroll;
  padding-top: 1em;
}

/* stylelint-enable */
