/*------------------------------------*\
  #INDEX
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Config.............Configuration and environment settings.
 * Global.............Globally-available variables and settings/config.
 * Colour.............Manage our color palette in isolation.
 * Containment........
 * Motion.............
 * Typography.........
 *
 * UTILITIES
 * Grid...............A complete flexbox grid system
 * Positioning........2D and 3D alignment patterns
 * Shapes.............Generated shapes
 * Typography.........Type tools
 * Visibility.........Responsive hide and show
 *
 * ELEMENTS
 * Forms..............Basic styles for form elements
 * Images.............Responsive styles for images
 * Layout.............Holy grail layout for flexbox
 * Typography.........Typographic styles for inline elements
 * Visualizations.....D3.js styles for graphs
 *
 * COMPONENTS
 * Badge..............Simple adaptable badges
 * Card...............Styles for many different kinds of cards
 * Checkbox...........Custom CSS and A11Y compatible checkbox
 * Radio..............Custom CSS and A11Y compatible radios
 * Dropdown...........Select and menu join forces to create a dropdown
 * Field..............A simple take on inputs for madlibs style editing
 * Icon...............Useful classes for doing things with icons
 * Input..............Simple input styles
 * Label..............Subjective indicators
 * Loader.............Animated controls to show progress
 * Menu...............Navigable controls
 * Message............Small text in varying colors
 * Notification.......Informative dialogs
 * Table..............Responsive tabular data patterns
 * Tooltip............Short messages for documenting things
 *
 * OBJECTS
 * Accordion..........Expandable sections of content
 * Aside..............A floating card to show a list of options
 * Toolbar............Great for housing actions and navigation
 * Button Group.......For when you can't just have one button
 * Calendar...........A modal calendar
 * Drawer.............Mobile panes for high-level navigation
 * Editor.............General editor of things
 * Iconbar............Navigable set of icons
 * Listing............A collection of rows organized with actions
 * Modal..............Lets you expose more things when you want
 * Sidebar............Collapsible container for nav and content
 */

@import 'settings/config';
@import 'settings/global';
@import 'settings/colour';
@import 'settings/containment';
@import 'settings/motion';
@import 'settings/shapes';
@import 'settings/typography';

@import 'elements/forms';
@import 'elements/images';
@import 'elements/layout';
@import 'elements/typography';

@import 'components/backdrop';
@import 'components/badge';
@import 'components/button';
@import 'components/card';
@import 'components/checkbox';
@import 'components/radio';
@import 'components/dropdown';
@import 'components/field';
@import 'components/icon';
@import 'components/input';
@import 'components/label';
@import 'components/list';
@import 'components/loader';
@import 'components/menu';
@import 'components/message';
@import 'components/notification';
@import 'components/switch';
@import 'components/table';
@import 'components/tooltip';

@import 'objects/accordion';
@import 'objects/aside';
@import 'objects/toolbar';
@import 'objects/button-group';
@import 'objects/calendar';
@import 'objects/drawer';
@import 'objects/editor';
@import 'objects/iconbar';
@import 'objects/input';
@import 'objects/listing';
@import 'objects/modal';
@import 'objects/sidebar';
@import 'objects/visualizations';

@import 'utilities/alignment';
@import 'utilities/grid';
@import 'utilities/positioning';
@import 'utilities/typography';
@import 'utilities/visibility';
