/*---
import: ../README.md
---*/

@import 'untangled-ui';

/* stylelint-disable */
.box-row { margin-bottom: 1rem; }

.box,
.box-first,
.box--large,
.box-nested,
.box-row {
  background-color: var(--color-primary);
  color: var(--white);
  font-size: var(--fontSize--tiny);
  min-height: 2em;
  overflow: hidden;
  padding: .75em 0;
  position: relative;
  text-align: center;
}

.box-first { background-color: var(--blue-600); }

.box-nested { background-color: var(--blue-700); }

.box--large { height: 5rem; }

.box-tall { padding: 200px 0; }

.ui-example {
  margin-bottom: var(--frame-half);
}

.ui-example__description {
  :--headings {
    color: var(--grey-900);
  }

  h1 {
    font-size: var(--fontSize--medium);
  }


  h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
  }


  h6 {
    font-size: var(--fontSize--small);
    color: var(--grey-700);
    font-weight: 600;
  }

  code {
    background-color: var(--grey-50);
    font-size: 16px;
    border-radius: 2px;
    padding: .2em 0;
    margin: 0;
  }

  pre {
    background-color: var(--grey-50);
    border-radius: 4px;
    font-size: 16px;
    padding: 1em;
    line-height: 1.5;
    margin-bottom: 1em;
  }
}

.ui-viewport-container {
  display: inline-block;
  margin: 0 1.5em;
  position: relative;
  width: 360px;
}

.ui-viewport {
  display: inline-block;
  box-shadow: 0 0 0 1px var(--grey-50);
  overflow: hidden;

}

.ui-viewport--android {
  border-bottom: 50px solid var(--black);
  border-top: 20px solid var(--grey-400);
}

.ui-viewport--mobile {
  height: 640px;
  width: 360px;

}

.ui-example__figure {
  border: 3px solid var(--grey-50);
  padding: 1em 5px;
}

.ui-example__source {
  background-color: var(--grey-50);
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 1em;
  padding: 5px 0;
  overflow-x: scroll;
}

._example-layout {

  .o-header,
  .o-nav,
  .o-article,
  .o-footer { padding: 1em; }

  .o-header {
    background-color: var(--blue-900);
    color: var(--white);
    position: static;
  }

  .o-nav {
    background-color: var(--blue-50);
    flex: 1 6 20%;
    order: 1;
  }

  .o-article {
    background-color: var(--grey-50);
    margin-left: 0 !important;
    flex: 3 1 60%;
    order: 2;
  }

  .o-footer {
    background-color: var(--grey-100);
  }
}

.swatch {
  padding: 1em 1rem;

  &__name,
   &__code {
      font-size: var(--fontSize--small);
      font-weight: 600;
    }

  &__code {
    float: right;
   }
}

.ui-palette {
  margin-bottom: 1em;
}

/* stylelint-enable */
