/*---
title: Aside
section: Objects
---*/

:root {
  --fontSize-aside__title: var(--fontSize--normal);
}


.o-aside {
  @apply --slide-out-inv;
  background-color: var(--backgroundColor-aside);
  box-shadow: var(--shadow-2);
  min-width: 300px;
  padding: 1em 1.5em;
  position: relative;
  z-index: 200;
  
  &:--active { @apply --slide-in; }
}


  .o-aside__title {
    color: var(--color-aside__title);
    font-size: var(--fontSize-aside__title);
    margin-bottom: .5em;
    text-transform: uppercase;

    &--section {
      color: var(--color-aside__title--section);
      margin-top: 1em;
    }
  }


  .o-aside__close {
    position: absolute;
    right: 1.25em;
    top: .75em;

    .c-icon {
      fill: var(--grey-300);
      height: 35px !important;
      width: 35px !important;
    }
  }


  .o-aside__list {
    font-size: 20px;
    line-height: 30px;
    list-style: none;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-aside__section);
      padding-bottom: 1em;
    }
  }


  .o-aside__item {
    color: var(--color-aside__item);
    text-decoration: none;
  }


  .o-aside__backdrop {
    @apply --fade-out;
    background-color: var(--color-backdrop);
    bottom: 0;
    left: 300px;
    position: fixed;
    right: 0;
    top: 55px;
    z-index: -1;

    :--active & { @apply --fade-in; }

    .o-aside--right & {
      left: 0;
      right: 300px;
    }
  }


.o-aside--right {
  @apply --slide-out;
  bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 55px;
}
