/*---
title: Calendar
section: Objects
---*/

.o-calendar {
  border-radius: var(--global-rounded);
  display: inline-block;
  left: 0;
  position: absolute !important;
  top: 0;
  z-index: 10 !important;

  &.is-active { @apply --fade-in; }
}


  .o-calendar__control {
    @apply --row;
    @apply --center;
    margin-bottom: 1em;
   }


  .o-calendar__month {

    table,
    tr,
    th,
    td {
      border: 0 solid transparent !important;
      text-align: center !important;
    }

    tr:first-child td { font-weight: normal; }

    th,
    td { font-size: var(--fontSize--tiny); }

    th { text-transform: uppercase; }
  }

  .o-calendar__day {
    --day-height: 32px;
    border-radius: 50px;
    height: var(--day-height);
    min-width: var(--day-height);
    position: relative;
    transition: background-color var(--global-duration) ease-in-out;
    width: var(--day-height);

    &:hover { background-color: var(--grey-50); }

    &.is-active { background-color: var(--highlight-announcement); }

    &.is-inactive { visibility: hidden; }

    & > p { margin: 0; }
  }


.o-calendar--right {
  left: auto;
  right: 0;
}


.o-calendar--up {
  bottom: 0;
  top: auto;
}


.o-calendar--inline {
  position: static !important;
}
