/*---
title: Calendar
section: Objects
---*/

.o-calendar {
  border-radius: var(--global-rounded);
  display: inline-block;
  left: 0;
  position: absolute !important;
  top: 0;
  z-index: 10 !important;

  &.is-active { @apply --fade-in; }
}


  .o-calendar__control {
    @apply --row;
    @apply --center;
    margin-bottom: 1em;
   }


  .o-calendar__month {

    table,
    tr,
    th,
    td {
      border: 0 solid transparent !important;
      text-align: center !important;
    }

    tr:first-child td { font-weight: normal; }

    th,
    td {
      font-size: var(--fontSize--tiny);
    }

    th {
      text-transform: uppercase;
    }

    td { cursor: pointer; }
  }

  .o-calendar__day {
    --day-height: 32px;
    height: var(--day-height);
    position: relative;
    transition: color .3s ease-in-out;
    width: var(--day-height);

  & > p { margin: 0; }

  &.is-active {
     background-color: var(--highlight-announcement);
     border-radius: 50px;
   }

  &.is-inactive { visibility: hidden; }
  }

.o-calendar--right {
  left: auto;
  right: 0;
}

.o-calendar--up {
  top: auto;
  bottom: 0;
}

.o-calendar--inline {
  position: static !important;
}
