:root {
  --padding-modal--invert: .5em 1rem 1em;
  --fontSize-modal__title: 20px;
}

.c-modal {
  @apply --fade-out;
  @apply --position-top-left;
  @apply --text-center;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
  text-align: left;
  width: 100%;

  &:--active {
    @apply --fade-in;
    pointer-events: none;
    z-index: var(--zIndex-modal);
  }
}


  .c-modal__card {
    background-color: var(--backgroundColor-modal);
    border-radius: var(--global-rounded);
    box-shadow: var(--shadow-2);
    margin: 1em 1rem;
    min-height: 100px;
    min-width: 200px;
    pointer-events: auto;
    position: relative;

    small {
      color: var(--blue-800);
      margin-bottom: 2em;
    }
  }

  .c-modal__title {
    color: var(--color-modal__title);
    font-size: var(--fontSize-modal__title);
    /* padding: 1em 1rem .85em; */
    padding: 0 1rem;
    min-height: 56px;
  }


  .c-modal__content {
    max-height: calc(100vh - 260px);
    padding: .85em 1rem 1em;
    overflow-y: scroll;

    .c-modal__title + & {
      padding-top: 0;
    }
  }

  .c-modal__content--bordered {
    border-bottom: 1px solid var(--grey-200);
    border-top: 1px solid var(--grey-200);
  }

  .c-modal__content--collapse {
    padding: 0 0 .5em;
  }


  .c-modal__actions {
    @apply --end;
    padding-left: .5rem;
  }

  .c-modal__actions--stacked {
    /* Make all buttons stack to the right */
    & > .c-button {
    }
  }





.c-modal--fullscreen {
  @apply --fade-in;
  position: static;
  text-align: start;
  height: auto;

  & .c-modal__card {
    margin: 0;
    box-shadow: none;
    width: 100%;
  }

    & .c-modal__title {
      box-shadow: var(--shadow-2);
      background-color: var(--color-primary);
      color: var(--color-primary-contrast);

      .c-icon {
        fill: var(--color-primary-contrast);
      }
      }
}
